<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ page_description }}">
		<meta name="author" content="Bizwiggle | admin@bizwiggle.com">
		<title>{{ page_title }}</title>
 
		<!-- BOOTSTRAP CSS (REQUIRED ALL PAGE)-->
		<link href="/static/css/interface/bootstrap.min.css" rel="stylesheet">

 		<!-- PLUGINS CSS -->
     
      <link href="/static/plugins/validator/bootstrapValidator.min.css" rel="stylesheet">
	   <link href="/static/plugins/prettify/prettify.min.css" rel="stylesheet">	
		
		<!-- MAIN CSS (REQUIRED ALL PAGE)-->
		<link href="/static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="/static/css/interface/style.css" rel="stylesheet">
		<link href="/static/css/interface/style-responsive.css" rel="stylesheet">

      {% block extra_css %}{% endblock %}
 
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

    <body class="tooltips">
<!--
		===========================================================
		BEGIN PAGE
		===========================================================
		-->
		<div class="wrapper">
			<!-- BEGIN TOP NAV -->
			<div class="top-navbar">
				<div class="top-navbar-inner">
					
					<!-- Begin Logo brand -->
					<div class="logo-brand">
						<a href="{% url 'admin_dashboard' %}"><img src="{{ MEDIA_URL }}images/bizwiggle_logo.png" alt="Bizwiggle Logo"></a>
					</div><!-- /.logo-brand -->
					<!-- End Logo brand -->
					
					<div class="top-nav-content">
						
						<!-- Begin button sidebar left toggle -->
						<div class="btn-collapse-sidebar-left">
							<i class="fa fa-bars"></i>
						</div><!-- /.btn-collapse-sidebar-left -->
						<!-- End button sidebar left toggle -->
						
						<!-- Begin button nav toggle -->
						<div class="btn-collapse-nav" data-toggle="collapse" data-target="#main-fixed-nav">
							<i class="fa fa-plus icon-plus"></i>
						</div><!-- /.btn-collapse-sidebar-right -->
						<!-- End button nav toggle -->
						
						
						<!-- Begin user session nav -->
						<ul class="nav-user navbar-right">
							<li class="dropdown">
							  <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
								Hi, <strong>Site Name</strong>
							  </a>
							  <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
								<li><a href="#fakelink">Account setting</a></li>
								<li><a href="#fakelink">Payment setting</a></li>
								<li><a href="#fakelink">Change password</a></li>
								<li><a href="#fakelink">My public profile</a></li>
								<li class="divider"></li>
								<li><a href="lock-screen.html">Lock screen</a></li>
								<li><a href="login.html">Log out</a></li>
							  </ul>
							</li>
						</ul>
						<!-- End user session nav -->
						
						<!-- Begin Collapse menu nav -->
						<div class="collapse navbar-collapse" id="main-fixed-nav">
							<!-- End nav search form -->
							<ul class="nav navbar-nav navbar-left">
								<!-- Begin nav notification -->
								<li class="dropdown">
									<a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
										<span class="badge badge-danger icon-count">7</span>
										<i class="fa fa-bell"></i>
									</a>
									<ul class="dropdown-menu square with-triangle">
										<li>
											<div class="nav-dropdown-heading">
											Notifications
											</div><!-- /.nav-dropdown-heading -->
											<div class="nav-dropdown-content scroll-nav-dropdown">
												<ul>
													<li class="unread"><a href="#fakelink">
														<img src="assets/img/avatar/avatar.jpg" class="absolute-left-content img-circle" alt="Avatar">
														<strong>Thomas White</strong> posted on your profile page
														<span class="small-caps">17 seconds ago</span>
													</a></li>
												</ul>
											</div><!-- /.nav-dropdown-content scroll-nav-dropdown -->
											<button class="btn btn-primary btn-square btn-block">See all notifications</button>
										</li>
									</ul>
								</li>
								<!-- End nav notification -->
								<!-- Begin nav task -->
								<li class="dropdown">
									<a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
										<span class="badge badge-warning icon-count">3</span>
										<i class="fa fa-tasks"></i>
									</a>
									<ul class="dropdown-menu square margin-list-rounded with-triangle">
										<li>
											<div class="nav-dropdown-heading">
											Tasks
											</div><!-- /.nav-dropdown-heading -->
											<div class="nav-dropdown-content scroll-nav-dropdown">
												<ul>
													<li class="unread"><a href="#fakelink">
														<i class="fa fa-check-circle-o absolute-left-content icon-task completed"></i>
														Creating documentation
														<span class="small-caps">Completed : Yesterday</span>
													</a></li>
												</ul>
											</div><!-- /.nav-dropdown-content scroll-nav-dropdown -->
											<button class="btn btn-primary btn-square btn-block">See all notifications</button>
										</li>
									</ul>
								</li>
								<!-- End nav task -->
							</ul>
						</div><!-- /.navbar-collapse -->
						<!-- End Collapse menu nav -->
					</div><!-- /.top-nav-content -->
				</div><!-- /.top-navbar-inner -->
			</div><!-- /.top-navbar -->
			<!-- END TOP NAV -->
			
			
			
			<!-- BEGIN SIDEBAR LEFT -->
			<div class="sidebar-left sidebar-nicescroller">
				<ul class="sidebar-menu">
					<li>
						<a href="{% url 'admin_dashboard' %}">
							<i class="fa fa-dashboard icon-sidebar"></i>
							Dashboard
						</a>
					</li>
					<li>
						<a href="{% url 'admin_general_info' %}">
							<i class="fa fa-info icon-sidebar"></i>
							General Site Info
						</a>
					</li>
					<li>
						<a href="#fakelink">
							<i class="fa fa-desktop icon-sidebar"></i>
							<i class="fa fa-angle-right chevron-icon-sidebar"></i>
							Main Pages
						</a>
						<ul class="submenu{% if active_page == 'admin_index' or active_page == 'admin_why_us' or active_page == 'admin_about' %} visible{% endif %}">
							<li><a href="{% url 'admin_index' %}">Index</a></li>
							<li{% if active_page == 'admin_why_us' %} class="active selected"{% endif %}>
								<a href="{% url 'admin_why_us' %}">
									Why Choose Us
                           {% if not progress.has_why_us %}
										<span class="label label-warning span-sidebar">Needed</span>
									{% endif %}
								</a>
							</li>
							<li{% if active_page == 'admin_about' %} class="active selected"{% endif %}>
								<a href="{% url 'admin_about' %}">
									About
                           {% if not progress.has_about %}
										<span class="label label-warning span-sidebar">Needed</span>
									{% endif %}
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#fakelink">
							<i class="fa fa-wrench icon-sidebar"></i>
							<i class="fa fa-angle-right chevron-icon-sidebar"></i>
							My Services
						</a>
						<ul class="submenu{% if active_page == 'admin_services' or active_page == 'admin_residential' or active_page == 'admin_comercial' or active_page == 'admin_other' %} visible{% endif %}">
							<li{% if active_page == 'admin_services' %} class="active selected"{% endif %}>
								<a href="{% url 'admin_services' %}">
									Services Overview
									{% if not progress.has_services %}
									<span class="label label-warning span-sidebar">Needed</span>
									{% endif %}
								</a>
							</li>
							<li{% if active_page == 'admin_residential' %} class="active selected"{% endif %}>
								<a href="{% url 'admin_residential' %}">
									Residential Painting
									{% if not progress.has_residential_services %}
										<span class="label label-success span-sidebar">Optional</span>
									{% endif %}
								</a>
							</li>
							<li{% if active_page == 'admin_comercial' %} class="active selected"{% endif %}>
								<a href="{% url 'admin_comercial' %}">
									Commercial Painting
									{% if not progress.has_comercial_services %}
										<span class="label label-success span-sidebar">Optional</span>
									{% endif %}
								</a>
							</li>
							<li{% if active_page == 'admin_other' %} class="active selected"{% endif %}>
								<a href="{% url 'admin_other_services' %}">
									Other Services
									{% if not progress.has_other_services %}
										<span class="label label-success span-sidebar">Optional</span>
									{% endif %}
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#fakelink">
							<i class="fa fa-file-image-o icon-sidebar"></i>
							<i class="fa fa-angle-right chevron-icon-sidebar"></i>
							Portfolio
							</a>
						<ul class="submenu">
							<li><a href="#">Add New Image</a></li>
							<li><a href="#">Edit Portfolio</a></li>
						</ul>
					</li>
					<li>
						<a href="#fakelink">
							<i class="fa fa-group icon-sidebar"></i>
							<i class="fa fa-angle-right chevron-icon-sidebar"></i>
							Our People
							</a>
						<ul class="submenu{% if active_page == 'admin_add_person' or active_page == 'admin_our_people' %} visible{% endif %}" >
							<li{% if active_page == 'admin_add_person' %} class="active selected"{% endif %}>
								<a href="{% url 'admin_add_person' %}">Add New Person</a>
							</li>
							<li{% if active_page == 'admin_our_people' %} class="active selected"{% endif %}>
								<a href="{% url 'admin_our_people' %}">Edit Our People</a>
							</li>
						</ul>
					<li>
						<a href="#fakelink">
							<i class="fa fa-folder-open icon-sidebar"></i>
							<i class="fa fa-angle-right chevron-icon-sidebar"></i>
							Other Site Info
							</a>
						<ul class="submenu{% if active_page == 'admin_success_stories' or active_page == 'admin_social' %} visible{% endif %}">
							<li><a href="">SEO Tools</a></li>
							<li {% if active_page == 'admin_social' %} class="active selected"{% endif %}>
								<a href="{% url 'admin_social' %}">Social Links
                           {% if not progress.has_social %}
										<span class="label label-success span-sidebar">Optional</span>
									{% endif %}
								</a>
							</li>
							<li {% if active_page == 'admin_success_stories' %} class="active selected"{% endif %}>
								<a href="{% url 'admin_success_stories' %}">
									Testimonials
                           {% if not progress.has_success_stories %}
										<span class="label label-warning span-sidebar">Needed</span>
									{% endif %}
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#fakelink">
							<i class="fa fa-life-bouy icon-sidebar"></i>
							<i class="fa fa-angle-right chevron-icon-sidebar"></i>
							Help
						</a>
						<ul class="submenu">
							<li><a href="table-static.html">Static table</a></li>
							<li><a href="table-color.html">Table color</a></li>
							<li><a href="table-datatable.html">Jquery datatable</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.sidebar-left -->
			<!-- END SIDEBAR LEFT -->
			
			
			<!-- BEGIN PAGE CONTENT -->
			<div class="page-content">
				<div class="container-fluid">
					{% block header-breadcrumb %}{% endblock %}
               <!-- Help Message -->
					{% if use_help_message %}
						<div class="row">
   						<div class="col-md-12">
      						<div class="alert alert-success alert-bold-border square fade in alert-dismissable">
         						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
         						<strong>Helpful Hint!</strong> {{ help_message }}  
      						</div>     
   						</div>
						</div>
					{% endif %}
					<!-- Messages -->
					{% if messages %}
   					{% for message in messages %}
   					<div class="row">
      					<div class="col-md-12">
         					<div class="alert {% if message.tags %}alert-{{ message.tags}} {% else %}alert-success{% endif %}alert-bold-border square fade in alert-dismissable">
            					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            					{{ message }}  
         					</div>              
      					</div>
   					</div>
   				{% endfor %}
				{% endif %}

					{% block content %}{% endblock %}
				</div><!-- /.container-fluid -->
				
				<!-- BEGIN FOOTER -->
				<footer>
					&copy; {% now "Y" %} <a href="http://www.bizwiggle.com">Bizwiggle</a><br />
				</footer>
				<!-- END FOOTER -->
				
			</div><!-- /.page-content -->
		</div><!-- /.wrapper -->
		<!-- END PAGE CONTENT -->
		
		<!-- BEGIN BACK TO TOP BUTTON -->
		<div id="back-top">
			<a href="#top"><i class="fa fa-chevron-up"></i></a>
		</div>
		<!-- END BACK TO TOP -->
		
		<!--
		===========================================================
		END PAGE
		===========================================================
		-->
		
		<!--
		===========================================================
		Placed at the end of the document so the pages load faster
		===========================================================
		-->
		<!-- MAIN JAVASRCIPT (REQUIRED ALL PAGE)-->
		<script src="/static/js/interface/interface_jquery.min.js"></script>
		<script src="/static/js/interface/interface_bootstrap.min.js"></script>
		<script src="/static/plugins/retina/retina.min.js"></script>
		<script src="/static/plugins/nicescroll/jquery.nicescroll.js"></script>
		<script src="/static/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		<script src="/static/plugins/backstretch/jquery.backstretch.min.js"></script>
	
      <!-- PLUGIN JAVASCRIPT -->
      <script src="/static/plugins/prettify/prettify.js"></script>
      <script src="/static/plugins/validator/bootstrapValidator.min.js"></script>
     
 		<!-- EXTRA JS -->
      {% block extra_js %}{% endblock %}
		
		<!-- MAIN APPS JS -->
		<script src="/static/js/interface/interface_apps.js"></script>
	
	</body>
</html>
