{% extends "interface/base.html" %}

{% block header-breadcrumb %}
<h1 class="page-heading">Frequently Asked Questions</h1>
                   
<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
	<li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-home"></i></a></li>
   <li class="active">FAQ</li>
</ol>
<!-- End breadcrumb -->
{% endblock %}

{% block content %}
<div class="row">
						<div class="col-sm-4">
							<div class="list-group info">
							  <a href="#example-faq-1" data-toggle="tab" class="list-group-item">Getting started <span class="badge badge-success">33</span></a>
							  <a href="#example-faq-2" data-toggle="tab" class="list-group-item">Basic CSS <span class="badge badge-danger">5</span></a>
							  <a href="#example-faq-3" data-toggle="tab" class="list-group-item">Basic Jquery <span class="badge badge-info">11</span></a>
							  <a href="#example-faq-4" data-toggle="tab" class="list-group-item">Customizing template <span class="badge badge-warning">15</span></a>
							  <a href="#example-faq-5" data-toggle="tab" class="list-group-item">Create additional classes <span class="badge badge-primary">75</span></a>
							</div>
						</div><!-- /.col-sm-4 -->
						<div class="col-sm-8">
							<div class="tab-content">
								<div class="tab-pane fade in active" id="example-faq-1">
									<div class="panel-group" id="faq-accordion-1">
										<div class="panel panel-success">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-1" data-toggle="collapse" href="#faq-accordion-1-child-1">
												<strong>Q :</strong> Aku ora mudheng carane gawe web ki pie jal?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-minus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-1-child-1" class="collapse in">
											  <div class="panel-body">
												Yo kudu sinau no mas bro, kan saiki okeh referensi nggo sinau. Ono buku, ono internet ono konco dll. Kowe modal komputer karo koneksi internet wae kowe mesti isoh gawe web dalam jangka waktu kurang dari sebulan kok.
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-success -->
										<div class="panel panel-success">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-1" data-toggle="collapse" href="#faq-accordion-1-child-2">
												<strong>Q :</strong> Lha nek aku sinau gawe web wes mesti bakal isoh opo ora?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-1-child-2" class="collapse">
											  <div class="panel-body">
												Tergantung kowene juga mas bro, nek kowe pancen niate isoh mesti yo isoh to ya. Tapi nek angger kowe ra nduwe niat opo mung setengah-setengah, tur meneh kowe ora seneng sek sak umur uripmu kowe ra bakal isoh!
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-success -->
										<div class="panel panel-success">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-1" data-toggle="collapse" href="#faq-accordion-1-child-3">
												<strong>Q :</strong> Aku pingin dadi programmer utowo desainer web je, tapi kok aku males sinau yo?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-1-child-3" class="collapse">
											  <div class="panel-body">
												Nah kui, budaya males ki nek isoh yo diilangi mas bro. Wong pengen isoh kok males ki lho.
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-success -->
										<div class="panel panel-success">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-1" data-toggle="collapse" href="#faq-accordion-1-child-4">
												<strong>Q :</strong> Lha trus enek ora carane ben aku langsung isoh gawe web?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-1-child-4" class="collapse">
											  <div class="panel-body">
												Isoh, jal diwoco meneh jawaban ing pertanyaan mu sing pertama kui
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-success -->
										<div class="panel panel-success">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-1" data-toggle="collapse" href="#faq-accordion-1-child-5">
												<strong>Q :</strong> Lha kowe mbiyen sinau gawe web selama pirang taun?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-1-child-5" class="collapse">
											  <div class="panel-body">
												Woh, aku seket tahunan bro haha. Soale pas jaman aku iseh bayi urung ono komputer, dadine sinaune iseh nganggo buku tulis karo potelot
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-success -->
										<div class="panel panel-success">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-1" data-toggle="collapse" href="#faq-accordion-1-child-6">
												<strong>Q :</strong> Aku pingin isoh, tapi pingin sing instan, ra perlu sinau, pie?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-1-child-6" class="collapse">
											  <div class="panel-body">
												Koyok Indom*e wae instan. Yo nek pengen instan mending kowe mbayar uwong kon nggawekne toh ya
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-success -->
										<div class="panel panel-success">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-1" data-toggle="collapse" href="#faq-accordion-1-child-7">
												<strong>Q :</strong> Lha nek aku kon nggawekne web karo kowe kon mbayar piro?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-1-child-7" class="collapse">
											  <div class="panel-body">
												1164 Sewu!!! haha. Tergantung mas bro, nek njaluke nggawe nggo WP tanpa kustomize, maksude mung instal thok jan mung instal thok yo aku njaluk tukon hosting karo domaine. Tur yo aku mbateni sitik dink
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-success -->
									</div><!-- /.panel-group -->
								</div>
								<div class="tab-pane fade" id="example-faq-2">
									<div class="panel-group" id="faq-accordion-2">
										<div class="panel panel-danger">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-2" data-toggle="collapse" href="#faq-accordion-2-child-1">
												<strong>Q :</strong> Aku ora mudheng carane gawe web ki pie jal?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-minus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-2-child-1" class="collapse in">
											  <div class="panel-body">
												Yo kudu sinau no mas bro, kan saiki okeh referensi nggo sinau. Ono buku, ono internet ono konco dll. Kowe modal komputer karo koneksi internet wae kowe mesti isoh gawe web dalam jangka waktu kurang dari sebulan kok.
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-danger -->
										<div class="panel panel-danger">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-2" data-toggle="collapse" href="#faq-accordion-2-child-2">
												<strong>Q :</strong> Lha nek aku sinau gawe web wes mesti bakal isoh opo ora?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-2-child-2" class="collapse">
											  <div class="panel-body">
												Tergantung kowene juga mas bro, nek kowe pancen niate isoh mesti yo isoh to ya. Tapi nek angger kowe ra nduwe niat opo mung setengah-setengah, tur meneh kowe ora seneng sek sak umur uripmu kowe ra bakal isoh!
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-danger -->
										<div class="panel panel-danger">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-2" data-toggle="collapse" href="#faq-accordion-2-child-3">
												<strong>Q :</strong> Aku pingin dadi programmer utowo desainer web je, tapi kok aku males sinau yo?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-2-child-3" class="collapse">
											  <div class="panel-body">
												Nah kui, budaya males ki nek isoh yo diilangi mas bro. Wong pengen isoh kok males ki lho.
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-danger -->
										<div class="panel panel-danger">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-2" data-toggle="collapse" href="#faq-accordion-2-child-4">
												<strong>Q :</strong> Lha trus enek ora carane ben aku langsung isoh gawe web?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-2-child-4" class="collapse">
											  <div class="panel-body">
												Isoh, jal diwoco meneh jawaban ing pertanyaan mu sing pertama kui
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-danger -->
										<div class="panel panel-danger">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-2" data-toggle="collapse" href="#faq-accordion-2-child-5">
												<strong>Q :</strong> Lha kowe mbiyen sinau gawe web selama pirang taun?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-2-child-5" class="collapse">
											  <div class="panel-body">
												Woh, aku seket tahunan bro haha. Soale pas jaman aku iseh bayi urung ono komputer, dadine sinaune iseh nganggo buku tulis karo potelot
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-danger -->
										<div class="panel panel-danger">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-2" data-toggle="collapse" href="#faq-accordion-2-child-6">
												<strong>Q :</strong> Aku pingin isoh, tapi pingin sing instan, ra perlu sinau, pie?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-2-child-6" class="collapse">
											  <div class="panel-body">
												Koyok Indom*e wae instan. Yo nek pengen instan mending kowe mbayar uwong kon nggawekne toh ya
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-danger -->
										<div class="panel panel-danger">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-2" data-toggle="collapse" href="#faq-accordion-2-child-7">
												<strong>Q :</strong> Lha nek aku kon nggawekne web karo kowe kon mbayar piro?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-2-child-7" class="collapse">
											  <div class="panel-body">
												Sewu!!! haha. Tergantung mas bro, nek njaluke nggawe nggo WP tanpa kustomize, maksude mung instal thok jan mung instal thok yo aku njaluk tukon hosting karo domaine. Tur yo aku mbateni sitik dink
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-danger -->
									</div><!-- /.panel-group -->
								</div>
								<div class="tab-pane fade" id="example-faq-3">
									<div class="panel-group" id="faq-accordion-3">
										<div class="panel panel-info">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-3" data-toggle="collapse" href="#faq-accordion-3-child-1">
												<strong>Q :</strong> Aku ora mudheng carane gawe web ki pie jal?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-minus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-3-child-1" class="collapse in">
											  <div class="panel-body">
												Yo kudu sinau no mas bro, kan saiki okeh referensi nggo sinau. Ono buku, ono internet ono konco dll. Kowe modal komputer karo koneksi internet wae kowe mesti isoh gawe web dalam jangka waktu kurang dari sebulan kok.
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-info -->
										<div class="panel panel-info">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-3" data-toggle="collapse" href="#faq-accordion-3-child-2">
												<strong>Q :</strong> Lha nek aku sinau gawe web wes mesti bakal isoh opo ora?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-3-child-2" class="collapse">
											  <div class="panel-body">
												Tergantung kowene juga mas bro, nek kowe pancen niate isoh mesti yo isoh to ya. Tapi nek angger kowe ra nduwe niat opo mung setengah-setengah, tur meneh kowe ora seneng sek sak umur uripmu kowe ra bakal isoh!
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-info -->
										<div class="panel panel-info">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-3" data-toggle="collapse" href="#faq-accordion-3-child-3">
												<strong>Q :</strong> Aku pingin dadi programmer utowo desainer web je, tapi kok aku males sinau yo?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-3-child-3" class="collapse">
											  <div class="panel-body">
												Nah kui, budaya males ki nek isoh yo diilangi mas bro. Wong pengen isoh kok males ki lho.
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-info -->
										<div class="panel panel-info">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-3" data-toggle="collapse" href="#faq-accordion-3-child-4">
												<strong>Q :</strong> Lha trus enek ora carane ben aku langsung isoh gawe web?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-3-child-4" class="collapse">
											  <div class="panel-body">
												Isoh, jal diwoco meneh jawaban ing pertanyaan mu sing pertama kui
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-info -->
										<div class="panel panel-info">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-3" data-toggle="collapse" href="#faq-accordion-3-child-5">
												<strong>Q :</strong> Lha kowe mbiyen sinau gawe web selama pirang taun?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-3-child-5" class="collapse">
											  <div class="panel-body">
												Woh, aku seket tahunan bro haha. Soale pas jaman aku iseh bayi urung ono komputer, dadine sinaune iseh nganggo buku tulis karo potelot
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-info -->
										<div class="panel panel-info">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-3" data-toggle="collapse" href="#faq-accordion-3-child-6">
												<strong>Q :</strong> Aku pingin isoh, tapi pingin sing instan, ra perlu sinau, pie?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-3-child-6" class="collapse">
											  <div class="panel-body">
												Koyok Indom*e wae instan. Yo nek pengen instan mending kowe mbayar uwong kon nggawekne toh ya
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-info -->
										<div class="panel panel-info">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-3" data-toggle="collapse" href="#faq-accordion-3-child-7">
												<strong>Q :</strong> Lha nek aku kon nggawekne web karo kowe kon mbayar piro?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-3-child-7" class="collapse">
											  <div class="panel-body">
												Sewu!!! haha. Tergantung mas bro, nek njaluke nggawe nggo WP tanpa kustomize, maksude mung instal thok jan mung instal thok yo aku njaluk tukon hosting karo domaine. Tur yo aku mbateni sitik dink
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-info -->
									</div><!-- /.panel-group -->
								</div>
								<div class="tab-pane fade" id="example-faq-4">
									<div class="panel-group" id="faq-accordion-4">
										<div class="panel panel-warning">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-4" data-toggle="collapse" href="#faq-accordion-4-child-1">
												<strong>Q :</strong> Aku ora mudheng carane gawe web ki pie jal?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-minus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-4-child-1" class="collapse in">
											  <div class="panel-body">
												Yo kudu sinau no mas bro, kan saiki okeh referensi nggo sinau. Ono buku, ono internet ono konco dll. Kowe modal komputer karo koneksi internet wae kowe mesti isoh gawe web dalam jangka waktu kurang dari sebulan kok.
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-warning -->
										<div class="panel panel-warning">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-4" data-toggle="collapse" href="#faq-accordion-4-child-2">
												<strong>Q :</strong> Lha nek aku sinau gawe web wes mesti bakal isoh opo ora?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-4-child-2" class="collapse">
											  <div class="panel-body">
												Tergantung kowene juga mas bro, nek kowe pancen niate isoh mesti yo isoh to ya. Tapi nek angger kowe ra nduwe niat opo mung setengah-setengah, tur meneh kowe ora seneng sek sak umur uripmu kowe ra bakal isoh!
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-warning -->
										<div class="panel panel-warning">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-4" data-toggle="collapse" href="#faq-accordion-4-child-3">
												<strong>Q :</strong> Aku pingin dadi programmer utowo desainer web je, tapi kok aku males sinau yo?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-4-child-3" class="collapse">
											  <div class="panel-body">
												Nah kui, budaya males ki nek isoh yo diilangi mas bro. Wong pengen isoh kok males ki lho.
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-warning -->
										<div class="panel panel-warning">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-4" data-toggle="collapse" href="#faq-accordion-4-child-4">
												<strong>Q :</strong> Lha trus enek ora carane ben aku langsung isoh gawe web?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-4-child-4" class="collapse">
											  <div class="panel-body">
												Isoh, jal diwoco meneh jawaban ing pertanyaan mu sing pertama kui
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-warning -->
										<div class="panel panel-warning">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-4" data-toggle="collapse" href="#faq-accordion-4-child-5">
												<strong>Q :</strong> Lha kowe mbiyen sinau gawe web selama pirang taun?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-4-child-5" class="collapse">
											  <div class="panel-body">
												Woh, aku seket tahunan bro haha. Soale pas jaman aku iseh bayi urung ono komputer, dadine sinaune iseh nganggo buku tulis karo potelot
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-warning -->
										<div class="panel panel-warning">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-4" data-toggle="collapse" href="#faq-accordion-4-child-6">
												<strong>Q :</strong> Aku pingin isoh, tapi pingin sing instan, ra perlu sinau, pie?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-4-child-6" class="collapse">
											  <div class="panel-body">
												Koyok Indom*e wae instan. Yo nek pengen instan mending kowe mbayar uwong kon nggawekne toh ya
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-warning -->
										<div class="panel panel-warning">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-4" data-toggle="collapse" href="#faq-accordion-4-child-7">
												<strong>Q :</strong> Lha nek aku kon nggawekne web karo kowe kon mbayar piro?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-4-child-7" class="collapse">
											  <div class="panel-body">
												Sewu!!! haha. Tergantung mas bro, nek njaluke nggawe nggo WP tanpa kustomize, maksude mung instal thok jan mung instal thok yo aku njaluk tukon hosting karo domaine. Tur yo aku mbateni sitik dink
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-warning -->
									</div><!-- /.panel-group -->
								</div>
								<div class="tab-pane fade" id="example-faq-5">
									<div class="panel-group" id="faq-accordion-5">
										<div class="panel panel-primary">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-5" data-toggle="collapse" href="#faq-accordion-5-child-1">
												<strong>Q :</strong> Aku ora mudheng carane gawe web ki pie jal?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-minus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-5-child-1" class="collapse in">
											  <div class="panel-body">
												Yo kudu sinau no mas bro, kan saiki okeh referensi nggo sinau. Ono buku, ono internet ono konco dll. Kowe modal komputer karo koneksi internet wae kowe mesti isoh gawe web dalam jangka waktu kurang dari sebulan kok.
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-primary -->
										<div class="panel panel-primary">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-5" data-toggle="collapse" href="#faq-accordion-5-child-2">
												<strong>Q :</strong> Lha nek aku sinau gawe web wes mesti bakal isoh opo ora?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-5-child-2" class="collapse">
											  <div class="panel-body">
												Tergantung kowene juga mas bro, nek kowe pancen niate isoh mesti yo isoh to ya. Tapi nek angger kowe ra nduwe niat opo mung setengah-setengah, tur meneh kowe ora seneng sek sak umur uripmu kowe ra bakal isoh!
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-primary -->
										<div class="panel panel-primary">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-5" data-toggle="collapse" href="#faq-accordion-5-child-3">
												<strong>Q :</strong> Aku pingin dadi programmer utowo desainer web je, tapi kok aku males sinau yo?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-5-child-3" class="collapse">
											  <div class="panel-body">
												Nah kui, budaya males ki nek isoh yo diilangi mas bro. Wong pengen isoh kok males ki lho.
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-primary -->
										<div class="panel panel-primary">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-5" data-toggle="collapse" href="#faq-accordion-5-child-4">
												<strong>Q :</strong> Lha trus enek ora carane ben aku langsung isoh gawe web?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-5-child-4" class="collapse">
											  <div class="panel-body">
												Isoh, jal diwoco meneh jawaban ing pertanyaan mu sing pertama kui
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-primary -->
										<div class="panel panel-primary">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-5" data-toggle="collapse" href="#faq-accordion-5-child-5">
												<strong>Q :</strong> Lha kowe mbiyen sinau gawe web selama pirang taun?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-5-child-5" class="collapse">
											  <div class="panel-body">
												Woh, aku seket tahunan bro haha. Soale pas jaman aku iseh bayi urung ono komputer, dadine sinaune iseh nganggo buku tulis karo potelot
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-primary -->
										<div class="panel panel-primary">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-5" data-toggle="collapse" href="#faq-accordion-5-child-6">
												<strong>Q :</strong> Aku pingin isoh, tapi pingin sing instan, ra perlu sinau, pie?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-5-child-6" class="collapse">
											  <div class="panel-body">
												Koyok Indom*e wae instan. Yo nek pengen instan mending kowe mbayar uwong kon nggawekne toh ya
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-primary -->
										<div class="panel panel-primary">
										  <div class="panel-heading">
											<h3 class="panel-title">
												<a class="block-collapse" data-parent="#faq-accordion-5" data-toggle="collapse" href="#faq-accordion-5-child-7">
												<strong>Q :</strong> Lha nek aku kon nggawekne web karo kowe kon mbayar piro?
												<span class="right-content">
													<span class="right-icon">
														<i class="glyphicon glyphicon-plus icon-collapse"></i>
													</span>
												</span>
												</a>
											</h3>
										  </div>
											<div id="faq-accordion-5-child-7" class="collapse">
											  <div class="panel-body">
												Sewu!!! haha. Tergantung mas bro, nek njaluke nggawe nggo WP tanpa kustomize, maksude mung instal thok jan mung instal thok yo aku njaluk tukon hosting karo domaine. Tur yo aku mbateni sitik dink
											  </div><!-- /.panel-body -->
											  <div class="panel-footer">Was this article helpful? <a href="#fakelink">Yes</a> / <a href="#fakelink">No , I want to contact support</a></div>
											</div><!-- /.collapse in -->
										</div><!-- /.panel panel-primary -->
									</div><!-- /.panel-group -->
								</div><!-- /.tab-pane fade -->
							</div><!-- /.tab-content -->
						</div><!-- /.col-sm-8 -->
					</div><!-- /.row -->


{% endblock %}

{% block extra_js %}
<script src="/static/plugins/magnific-popup/jquery.magnific-popup.min.js"></script> 
<script src="/static/plugins/owl-carousel/owl.carousel.min.js"></script>
{% endblock %}
