{% extends "interface/base.html" %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
{% endblock %}


{% block header-breadcrumb %}
<h1 class="page-heading">Payment Settings</h1>
                   
<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
	<li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-home"></i></a></li>
   <li class="active">Payment Settings</li>
</ol>
<!-- End breadcrumb -->
{% endblock %}

{% block content %}
<form id="PaymentForm" method="post" action="" class="form-horizontal">
{% csrf_token %}

<!-- Payment info -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-2">
					Payment Information
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-minus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-2" class="collapse in">
		<div class="panel-body">
         <span class="payment-errors"></span>
			<fieldset>
			<legend>Payment Information</legend>
			<div class="form-group">
            <label class="col-md-2 control-label">Card Number</label>
            <div class="col-md-3">
               <input type="text" class="form-control" size="20" data-stripe="number" />
            </div>
         </div>
			<div class="form-group">
            <label class="col-md-2 control-label">CVC</label>
            <div class="col-md-2">
               <input type="text" class="form-control" size="4" data-stripe="cvc" />
            </div>
         </div>

			<div class="form-group">
            <label class="col-md-3 control-label">Expiration (MM/YYYY)</label>
            <div class="col-md-3">
      			<input type="text" size="2" data-stripe="exp-month"/>
    				<span> / </span>
    				<input type="text" size="4" data-stripe="exp-year"/>
  				</div>
			</div>
			</fieldset>				  
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end Payment Info-->

<!-- Payment Switch -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-1">
					Services Area
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-minus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-1" class="collapse in">
		<div class="panel-body">
			<fieldset>
			<legend>Service Area</legend>
         <div class="form-group">
            <label class="col-md-2 control-label">Describe Your Service Area</label>
            <div class="col-md-9">
               <textarea class="form-control" rows="2" name="service_area_blurb">{{ services.service_area_blurb }}</textarea>
            </div>
         </div>
         </fieldset> 
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end Payment switch-->

<div class="form-group">
	<div class="col-md-9 col-md-offset-2">
		<button type="submit" class="btn btn-info btn-lg"><i class="fa fa-share"></i> Save All</button>
	</div>
</div>
</form>
                   
{% endblock %}

{% block extra_js %}

<script type="text/javascript">
  Stripe.setPublishableKey('{{ PUB_KEY }}');
</script>

<script>
jQuery(function($) {
  $('#payment-form').submit(function(event) {
    var $form = $(this);

    // Disable the submit button to prevent repeated clicks
    $form.find('button').prop('disabled', true);

    Stripe.card.createToken($form, stripeResponseHandler);

    // Prevent the form from submitting with the default action
    return false;
  });
});

function stripeResponseHandler(status, response) {
  var $form = $('#payment-form');

  if (response.error) {
    // Show the errors on the form
    $form.find('.payment-errors').text(response.error.message);
    $form.find('button').prop('disabled', false);
  } else {
    // response contains id and card, which contains additional card details
    var token = response.id;
    // Insert the token into the form so it gets submitted to the server
    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
    // and submit
    $form.get(0).submit();
  }
};
</script>

<script src="/static/plugins/magnific-popup/jquery.magnific-popup.min.js"></script> 
<script src="/static/plugins/owl-carousel/owl.carousel.min.js"></script>
{% endblock %}
