{% extends "interface/base.html" %}

{% block header-breadcrumb %}
<h1 class="page-heading">Our People Admin</h1>
                   
<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
	<li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-home"></i></a></li>
   <li class="active">Our People</li>
</ol>
<!-- End breadcrumb -->
{% endblock %}

{% block content %}
<form id="OtherPeopleForm" method="post" action="" enctype="multipart/form-data" class="form-horizontal">
{% csrf_token %}

<!-- Our People 1 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-1">
					{% if our_people.title1 %}{{ our_people.title1 }}{% else %}Our People 1{% endif %}
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-minus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-1" class="collapse in">
		<div class="panel-body">
			<fieldset>
			<legend>Our People 1</legend>
         <div class="form-group">
            <label class="col-md-2 control-label">Title</label>
            <div class="col-md-9">
               <input type="text" class="form-control" name="title1" value="{{ our_people.title1 }}" />
               <p class="help-block">Leave title blank to remove this section.</p>
            </div>
         </div>
         <div class="form-group">
            <label class="col-md-2 control-label">Text</label>
            <div class="col-md-9">
               <textarea class="form-control" rows="4" name="text1">{{ our_people.text1 }}</textarea>
            </div>
         </div>
         {% if our_people.pic1 %}
            <div class="form-group">
               <div class="col-md-7 col-md-offset-2">
                  <div class="checkbox">
                     <input type="checkbox" name="delete_pic1" /> Delete current pic <small> - {{ our_people.pic1 }}</small>
                  </div>
               </div>
            </div>
         {% endif %}
         <div class="form-group">
            <label class="col-md-2 control-label">Picture</label>
            <div class="col-md-9">
               <input type="file" name="pic1">
               <p class="help-block">Recommended Size: 214 x 214 px</p>
            </div>
         </div>
         </fieldset> 
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end Our People 1 -->

<!-- Our People 2 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-2">
					{% if our_people.title2 %}{{ our_people.title2 }}{% else %}Our People 2{% endif %}
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-plus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-2" class="collapse">
		<div class="panel-body">
			<fieldset>
			<legend>Our People 2</legend>
         <div class="form-group">
            <label class="col-md-2 control-label">Title</label>
            <div class="col-md-9">
               <input type="text" class="form-control" name="title2" value="{{ our_people.title2 }}" />
               <p class="help-block">Leave title blank to remove this section.</p>
            </div>
         </div>
         <div class="form-group">
            <label class="col-md-2 control-label">Text</label>
            <div class="col-md-9">
               <textarea class="form-control" rows="4" name="text2">{{ our_people.text2 }}</textarea>
            </div>
         </div>
         {% if our_people.pic2 %}
            <div class="form-group">
               <div class="col-md-7 col-md-offset-2">
                  <div class="checkbox">
                     <input type="checkbox" name="delete_pic2" /> Delete current pic <small> - {{ our_people.pic2 }}</small>
                  </div>
               </div>
            </div>
         {% endif %}
         <div class="form-group">
            <label class="col-md-2 control-label">Picture</label>
            <div class="col-md-9">
               <input type="file" name="pic1">
               <p class="help-block">Recommended Size: 214 x 214 px</p>
            </div>
         </div>
         </fieldset> 
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end Our People 2 -->

<!-- Our People 3 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-3">
					{% if our_people.title3 %}{{ our_people.title3 }}{% else %}Our People 3{% endif %}
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-plus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-3" class="collapse">
		<div class="panel-body">
			<fieldset>
			<legend>Our People 3</legend>
         <div class="form-group">
            <label class="col-md-2 control-label">Title</label>
            <div class="col-md-9">
               <input type="text" class="form-control" name="title3" value="{{ our_people.title3 }}" />
               <p class="help-block">Leave title blank to remove this section.</p>
            </div>
         </div>
         <div class="form-group">
            <label class="col-md-2 control-label">Text</label>
            <div class="col-md-9">
               <textarea class="form-control" rows="4" name="text3">{{ our_people.text3 }}</textarea>
            </div>
         </div>
         {% if our_people.pic3 %}
            <div class="form-group">
               <div class="col-md-7 col-md-offset-2">
                  <div class="checkbox">
                     <input type="checkbox" name="delete_pic3" /> Delete current pic <small> - {{ our_people.pic3 }}</small>
                  </div>
               </div>
            </div>
         {% endif %}
         <div class="form-group">
            <label class="col-md-2 control-label">Picture</label>
            <div class="col-md-9">
               <input type="file" name="pic3">
               <p class="help-block">Recommended Size: 214 x 214 px</p>
            </div>
         </div>
         </fieldset> 
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end Our People 3 -->

<!-- Our People 4 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-4">
					{% if our_people.title4 %}{{ our_people.title4 }}{% else %}Our People 4{% endif %}
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-plus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-4" class="collapse">
		<div class="panel-body">
			<fieldset>
			<legend>Our People 4</legend>
         <div class="form-group">
            <label class="col-md-2 control-label">Title</label>
            <div class="col-md-9">
               <input type="text" class="form-control" name="title4" value="{{ our_people.title4 }}" />
               <p class="help-block">Leave title blank to remove this section.</p>
            </div>
         </div>
         <div class="form-group">
            <label class="col-md-2 control-label">Text</label>
            <div class="col-md-9">
               <textarea class="form-control" rows="4" name="text4">{{ our_people.text4 }}</textarea>
            </div>
         </div>
         {% if our_people.pic4 %}
            <div class="form-group">
               <div class="col-md-7 col-md-offset-2">
                  <div class="checkbox">
                     <input type="checkbox" name="delete_pic4" /> Delete current pic <small> - {{ our_people.pic4 }}</small>
                  </div>
               </div>
            </div>
         {% endif %}
         <div class="form-group">
            <label class="col-md-2 control-label">Picture</label>
            <div class="col-md-9">
               <input type="file" name="pic4">
               <p class="help-block">Recommended Size: 214 x 214 px</p>
            </div>
         </div>
         </fieldset> 
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end Our People 4 -->

<!-- Our People 5 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-5">
					{% if our_people.title5 %}{{ our_people.title5 }}{% else %}Our People 5{% endif %}
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-plus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-5" class="collapse">
		<div class="panel-body">
			<fieldset>
			<legend>Our People 5</legend>
         <div class="form-group">
            <label class="col-md-2 control-label">Title</label>
            <div class="col-md-9">
               <input type="text" class="form-control" name="title5" value="{{ our_people.title5 }}" />
               <p class="help-block">Leave title blank to remove this section.</p>
            </div>
         </div>
         <div class="form-group">
            <label class="col-md-2 control-label">Text</label>
            <div class="col-md-9">
               <textarea class="form-control" rows="4" name="text5">{{ our_people.text5 }}</textarea>
            </div>
         </div>
         {% if our_people.pic5 %}
            <div class="form-group">
               <div class="col-md-7 col-md-offset-2">
                  <div class="checkbox">
                     <input type="checkbox" name="delete_pic5" /> Delete current pic <small> - {{ our_people.pic5 }}</small>
                  </div>
               </div>
            </div>
         {% endif %}
         <div class="form-group">
            <label class="col-md-2 control-label">Picture</label>
            <div class="col-md-9">
               <input type="file" name="pic5">
               <p class="help-block">Recommended Size: 214 x 214 px</p>
            </div>
         </div>
         </fieldset> 
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end Our People 5 -->

<!-- Our People 6 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-6">
					{% if our_people.title6 %}{{ our_people.title6 }}{% else %}Our People 6{% endif %}
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-plus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-6" class="collapse">
		<div class="panel-body">
			<fieldset>
			<legend>Our People 6</legend>
         <div class="form-group">
            <label class="col-md-2 control-label">Title</label>
            <div class="col-md-9">
               <input type="text" class="form-control" name="title6" value="{{ our_people.title6 }}" />
               <p class="help-block">Leave title blank to remove this section.</p>
            </div>
         </div>
         <div class="form-group">
            <label class="col-md-2 control-label">Text</label>
            <div class="col-md-9">
               <textarea class="form-control" rows="4" name="text6">{{ our_people.text6 }}</textarea>
            </div>
         </div>
         {% if our_people.pic6 %}
            <div class="form-group">
               <div class="col-md-7 col-md-offset-2">
                  <div class="checkbox">
                     <input type="checkbox" name="delete_pic6" /> Delete current pic <small> - {{ our_people.pic6 }}</small>
                  </div>
               </div>
            </div>
         {% endif %}
         <div class="form-group">
            <label class="col-md-2 control-label">Picture</label>
            <div class="col-md-9">
               <input type="file" name="pic6">
               <p class="help-block">Recommended Size: 214 x 214 px</p>
            </div>
         </div>
         </fieldset> 
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end Our People 6 -->

<!-- Our People 7 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-7">
					{% if our_people.title7 %}{{ our_people.title7 }}{% else %}Our People 7{% endif %}
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-plus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-7" class="collapse">
		<div class="panel-body">
			<fieldset>
			<legend>Our People 7</legend>
         <div class="form-group">
            <label class="col-md-2 control-label">Title</label>
            <div class="col-md-9">
               <input type="text" class="form-control" name="title7" value="{{ our_people.title7 }}" />
               <p class="help-block">Leave title blank to remove this section.</p>
            </div>
         </div>
         <div class="form-group">
            <label class="col-md-2 control-label">Text</label>
            <div class="col-md-9">
               <textarea class="form-control" rows="4" name="text5">{{ our_people.text7 }}</textarea>
            </div>
         </div>
         {% if our_people.pic7 %}
            <div class="form-group">
               <div class="col-md-7 col-md-offset-2">
                  <div class="checkbox">
                     <input type="checkbox" name="delete_pic7" /> Delete current pic <small> - {{ our_people.pic7 }}</small>
                  </div>
               </div>
            </div>
         {% endif %}
         <div class="form-group">
            <label class="col-md-2 control-label">Picture</label>
            <div class="col-md-9">
               <input type="file" name="pic4">
               <p class="help-block">Recommended Size: 214 x 214 px</p>
            </div>
         </div>
         </fieldset> 
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end Our People 7 -->

<!-- Our People 8 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-8">
					{% if our_people.title8 %}{{ our_people.title8 }}{% else %}Our People 8{% endif %}
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-plus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-8" class="collapse">
		<div class="panel-body">
			<fieldset>
			<legend>Our People 8</legend>
         <div class="form-group">
            <label class="col-md-2 control-label">Title</label>
            <div class="col-md-9">
               <input type="text" class="form-control" name="title8" value="{{ our_people.title8 }}" />
               <p class="help-block">Leave title blank to remove this section.</p>
            </div>
         </div>
         <div class="form-group">
            <label class="col-md-2 control-label">Text</label>
            <div class="col-md-9">
               <textarea class="form-control" rows="4" name="text8">{{ our_people.text8 }}</textarea>
            </div>
         </div>
         {% if our_people.pic8 %}
            <div class="form-group">
               <div class="col-md-7 col-md-offset-2">
                  <div class="checkbox">
                     <input type="checkbox" name="delete_pic8" /> Delete current pic <small> - {{ our_people.pic8 }}</small>
                  </div>
               </div>
            </div>
         {% endif %}
         <div class="form-group">
            <label class="col-md-2 control-label">Picture</label>
            <div class="col-md-9">
               <input type="file" name="pic8">
               <p class="help-block">Recommended Size: 214 x 214 px</p>
            </div>
         </div>
         </fieldset> 
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end Our People 8 -->

<!-- Our People 9 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-9">
					{% if our_people.title9 %}{{ our_people.title9 }}{% else %}Our People 9{% endif %}
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-plus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-9" class="collapse">
		<div class="panel-body">
			<fieldset>
			<legend>Our People 9</legend>
         <div class="form-group">
            <label class="col-md-2 control-label">Title</label>
            <div class="col-md-9">
               <input type="text" class="form-control" name="title9" value="{{ our_people.title9 }}" />
               <p class="help-block">Leave title blank to remove this section.</p>
            </div>
         </div>
         <div class="form-group">
            <label class="col-md-2 control-label">Text</label>
            <div class="col-md-9">
               <textarea class="form-control" rows="4" name="text9">{{ our_people.text9 }}</textarea>
            </div>
         </div>
         {% if our_people.pic9 %}
            <div class="form-group">
               <div class="col-md-7 col-md-offset-2">
                  <div class="checkbox">
                     <input type="checkbox" name="delete_pic9" /> Delete current pic <small> - {{ our_people.pic9 }}</small>
                  </div>
               </div>
            </div>
         {% endif %}
         <div class="form-group">
            <label class="col-md-2 control-label">Picture</label>
            <div class="col-md-9">
               <input type="file" name="pic4">
               <p class="help-block">Recommended Size: 214 x 214 px</p>
            </div>
         </div>
         </fieldset> 
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end Our People 9 -->

<!-- Our People 10 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-10">
					{% if our_people.title10 %}{{ our_people.title10 }}{% else %}Our People 10{% endif %}
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-plus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-10" class="collapse">
		<div class="panel-body">
			<fieldset>
			<legend>Our People 10</legend>
         <div class="form-group">
            <label class="col-md-2 control-label">Title</label>
            <div class="col-md-9">
               <input type="text" class="form-control" name="title10" value="{{ our_people.title10 }}" />
               <p class="help-block">Leave title blank to remove this section.</p>
            </div>
         </div>
         <div class="form-group">
            <label class="col-md-2 control-label">Text</label>
            <div class="col-md-9">
               <textarea class="form-control" rows="4" name="text5">{{ our_people.text10 }}</textarea>
            </div>
         </div>
         {% if our_people.pic10 %}
            <div class="form-group">
               <div class="col-md-7 col-md-offset-2">
                  <div class="checkbox">
                     <input type="checkbox" name="delete_pic5" /> Delete current pic <small> - {{ our_people.pic10 }}</small>
                  </div>
               </div>
            </div>
         {% endif %}
         <div class="form-group">
            <label class="col-md-2 control-label">Picture</label>
            <div class="col-md-9">
               <input type="file" name="pic4">
               <p class="help-block">Recommended Size: 214 x 214 px</p>
            </div>
         </div>
         </fieldset> 
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end Our People 10 -->

<div class="form-group">
	<div class="col-md-9 col-md-offset-2">
		<button type="submit" class="btn btn-info btn-lg"><i class="fa fa-share"></i> Save All</button>
	</div>
</div>
</form>
                   
{% endblock %}

{% block extra_js %}
<script src="/static/plugins/magnific-popup/jquery.magnific-popup.min.js"></script> 
<script src="/static/plugins/owl-carousel/owl.carousel.min.js"></script>
{% endblock %}
