{% extends "interface/base.html" %}

{% block header-breadcrumb %}
<h1 class="page-heading">Residential Service</h1>
                   
<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
	<li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-home"></i></a></li>
   <li class="active">Residential Service</li>
</ol>
<!-- End breadcrumb -->
{% endblock %}

{% block content %}
<form id="ServicesForm" method="post" action="" enctype="multipart/form-data" class="form-horizontal">
{% csrf_token %}

<!-- Residential Service 1 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-4">
					Residential Service Page Options
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-minus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-4" class="collapse in">
		<div class="panel-body">
		<label class="radio-inline">
  			<input type="radio" name="has_residential" value="on" {% if has_residential_page %} checked {% endif %}> 
             {% if has_residential_page %} Page Is On {% else %} Turn Page On {% endif %}
		</label>
		<label class="radio-inline">
  		<input type="radio" name="has_residential" value="off" {% if not has_residential_page %} checked {% endif %}> 
			{% if not has_residential_page %} Page Is Off {% else %} Turn Page Off {% endif %}
		
		</label>

		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end Residential Service Options-->

<!-- Residential Service 1 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-1">
					Residential Service Paragraph 1
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-minus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-1" class="collapse in">
		<div class="panel-body">
			<fieldset>
			<legend>Residential Service Paragraph 1</legend>
         <div class="form-group">
            <label class="col-md-2 control-label">Headline</label>
            <div class="col-md-9">
               <input type="text" class="form-control" name="paragraph_headline1" value="{{ residential_service.paragraph_headline1 }}" />
            </div>
         </div>
			<div class="form-group">
            <label class="col-md-2 control-label">Text</label>
            <div class="col-md-9">
               <textarea class="form-control" rows="4" name="paragraph1">{{ residential_service.paragraph1 }}</textarea>
               <p class="help-block">Leave text blank to remove residential services section.</p>
            </div>
         </div>
         {% if residential_service.pic1 %}
            <div class="form-group">
               <div class="col-md-7 col-md-offset-2">
                  <div class="checkbox">
                     <input type="checkbox" name="delete_pic1" /> Delete current pic <small> - {{ residential_service.pic1 }}</small>
                  </div>
               </div>
            </div>
         {% endif %}
         <div class="form-group">
            <label class="col-md-2 control-label">Picture</label>
            <div class="col-md-9">
               <p class="help-block">Default pic will be used if one is not uploaded</p>
               <input type="file" name="pic1">
               <p class="help-block">Recommended Size: 214 x 214 px</p>
            </div>
         </div>
         </fieldset> 
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end Residential Service 1-->

<!-- Residential Service 2 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-2">
					Residential Service Paragraph 2
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-plus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-2" class="collapse">
		<div class="panel-body">
			<fieldset>
			<legend>Residential Service Paragraph 2</legend>
         <div class="form-group">
            <label class="col-md-2 control-label">Headline</label>
            <div class="col-md-9">
               <input type="text" class="form-control" name="paragraph_headline2" value="{{ residential_service.paragraph_headline2 }}" />
            </div>
         </div>
			<div class="form-group">
            <label class="col-md-2 control-label">Text</label>
            <div class="col-md-9">
               <textarea class="form-control" rows="4" name="paragraph2">{{ residential_service.paragraph2 }}</textarea>
               <p class="help-block">Leave text blank to remove residential services section.</p>
            </div>
         </div>
         {% if residential_service.pic2 %}
            <div class="form-group">
               <div class="col-md-7 col-md-offset-2">
                  <div class="checkbox">
                     <input type="checkbox" name="delete_pic2" /> Delete current pic <small> - {{ residential_service.pic2 }}</small>
                  </div>
               </div>
            </div>
         {% endif %}
         <div class="form-group">
            <label class="col-md-2 control-label">Picture</label>
            <div class="col-md-9">
               <p class="help-block">Default pic will be used if one is not uploaded</p>
               <input type="file" name="pic1">
               <p class="help-block">Recommended Size: 214 x 214 px</p>
            </div>
         </div>
         </fieldset> 
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end Residential Service 2-->

<!-- Residential Service 3 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-3">
					Residential Service Paragraph 3
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-plus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-3" class="collapse">
		<div class="panel-body">
			<fieldset>
			<legend>Residential Service Paragraph 3</legend>
         <div class="form-group">
            <label class="col-md-2 control-label">Headline</label>
            <div class="col-md-9">
               <input type="text" class="form-control" name="paragraph_headline3" value="{{ residential_service.paragraph_headline3 }}" />
            </div>
         </div>
			<div class="form-group">
            <label class="col-md-2 control-label">Text</label>
            <div class="col-md-9">
               <textarea class="form-control" rows="4" name="paragraph3">{{ residential_service.paragraph3 }}</textarea>
               <p class="help-block">Leave text blank to remove residential services section.</p>
            </div>
         </div>
         {% if residential_service.pic3 %}
            <div class="form-group">
               <div class="col-md-7 col-md-offset-2">
                  <div class="checkbox">
                     <input type="checkbox" name="delete_pic3" /> Delete current pic <small> - {{ residential_service.pic3 }}</small>
                  </div>
               </div>
            </div>
         {% endif %}
         <div class="form-group">
            <label class="col-md-2 control-label">Picture</label>
            <div class="col-md-9">
               <p class="help-block">Default pic will be used if one is not uploaded</p>
               <input type="file" name="pic3">
               <p class="help-block">Recommended Size: 214 x 214 px</p>
            </div>
         </div>
         </fieldset> 
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end Residential Service 3-->

<div class="form-group">
	<div class="col-md-9 col-md-offset-2">
		<button type="submit" class="btn btn-info btn-lg"><i class="fa fa-share"></i> Save All</button>
	</div>
</div>
</form>
                   
{% endblock %}

{% block extra_js %}
<script src="/static/plugins/magnific-popup/jquery.magnific-popup.min.js"></script> 
<script src="/static/plugins/owl-carousel/owl.carousel.min.js"></script>
{% endblock %}
