{% extends "interface/base.html" %}

{% block header-breadcrumb %}
<h1 class="page-heading">Social</h1>
                   
<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
	<li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-home"></i></a></li>
   <li class="active">Social</li>
</ol>
<!-- End breadcrumb -->
{% endblock %}

{% block content %}
<form id="SocialForm" method="post" action="" enctype="multipart/form-data" class="form-horizontal">
{% csrf_token %}

<!-- Main Social Links -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-1">
					Social Links
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-minus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-1" class="collapse in">
		<div class="panel-body">
			<fieldset>
			<legend>Social Links</legend>
         <div class="form-group row">
            <label class="col-md-2 control-label">Facebook URL</label>
            <div class="col-md-7">
               <input type="text" class="form-control" name="facebook_url" value="{{ general_info.facebook_URL }}" />
            </div>
         	<div class="col-md-1 hidden-xs hidden-sm interface-social-img">
            	<img class="img-responsive" src="/media/images/interface/facebook_logo.png">
         	</div>
         </div>
         <hr>
         <div class="form-group">
            <label class="col-md-2 control-label">Linkedin URL</label>
            <div class="col-md-7">
               <input type="text" class="form-control" name="linkedin_url" value="{{ general_info.linkedin_URL }}" />
            </div>
         	<div class="col-md-1 hidden-xs hidden-sm interface-social-img">
            	<img class="img-responsive" src="/media/images/interface/linkedin_logo.png">
         	</div>
         </div>
         <hr>
         <div class="form-group">
            <label class="col-md-2 control-label">Google Plus URL</label>
            <div class="col-md-7">
               <input type="text" class="form-control" name="google_plus_url" value="{{ general_info.google_plus_URL }}" />
            </div>
         	<div class="col-md-1 hidden-xs hidden-sm interface-social-img">
            	<img class="img-responsive" src="/media/images/interface/google_plus_logo.png">
         	</div>
         </div>
         <hr>
         <div class="form-group">
            <label class="col-md-2 control-label">Twitter URL</label>
            <div class="col-md-7">
               <input type="text" class="form-control" name="twitter_url" value="{{ general_info.twitter_URL }}" />
            </div>
         	<div class="col-md-1 hidden-xs hidden-sm interface-social-img">
            	<img class="img-responsive" src="/media/images/interface/twitter_logo.png">
         	</div>
         </div>
         <hr>
         <div class="form-group">
            <label class="col-md-2 control-label">Tumblr URL</label>
            <div class="col-md-7">
               <input type="text" class="form-control" name="tumblr_url" value="{{ general_info.tumblr_URL }}" />
            </div>
         	<div class="col-md-1 hidden-xs hidden-sm interface-social-img">
            	<img class="img-responsive" src="/media/images/interface/tumblr_logo.png">
         	</div>
         </div>
         <hr>
         <div class="form-group">
            <label class="col-md-2 control-label">Pinterest URL</label>
            <div class="col-md-7">
               <input type="text" class="form-control" name="pinterest_url" value="{{ general_info.pintrest_URL }}" />
            </div>
         	<div class="col-md-1 hidden-xs hidden-sm interface-social-img">
            	<img class="img-responsive" src="/media/images/interface/pinterest_logo.png">
         	</div>
         </div>
         </fieldset>
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end Success Story 1 -->

<div class="form-group">
   <div class="col-md-9 col-md-offset-2">
      <button type="submit" class="btn btn-info btn-lg"><i class="fa fa-share"></i> Save All</button>
   </div>
</div>
</form>
                   
{% endblock %}

{% block extra_js %}
<script src="/static/plugins/magnific-popup/jquery.magnific-popup.min.js"></script> 
<script src="/static/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="/static/plugins/validator/page_validators/social.js"></script>
{% endblock %}
