{% extends "interface/base.html" %}

{% block header-breadcrumb %}
<h1 class="page-heading">Why Choose Us Admin</h1>
                   
<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
	<li><a href="{% url 'admin_dashboard' %}"><i class="fa fa-home"></i></a></li>
   <li class="active">Why Choose Us</li>
</ol>
<!-- End breadcrumb -->
{% endblock %}

{% block content %}
	<form id="WhyUsForm" method="post" action="" enctype="multipart/form-data" class="form-horizontal">
		{% csrf_token %}

<!-- reason1 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-1">
					Reason 1
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-minus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
	<div id="panel-collapse-1" class="collapse in">
		<div class="panel-body">
			<fieldset>
			<legend>Reason 1</legend>
			<div class="form-group">
				<label class="col-md-2 control-label">Headline</label>
				<div class="col-md-9">
					<input type="text" class="form-control" name="reason1" value="{{ why_us.reason1 }}" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Text</label>
				<div class="col-md-9">
					<textarea class="form-control" rows="5" name="reason1_blurb">{{ why_us.reason1_blurb }}</textarea>		
				</div>
			</div>
    		{% if why_us.reason1_pic %}
				<div class="form-group">
					<div class="col-md-7 col-md-offset-2">
						<div class="checkbox">
							<input type="checkbox" name="delete_reason1_pic" /> Delete current pic <small> - {{ why_us.reason1_pic }}</small>
						</div>
					</div>
				</div>
  			{% endif %}
			<div class="form-group">
    			<label class="col-md-2 control-label">Picture</label>
				<div class="col-md-9">    		
               <p class="help-block">Default pic will be used if one is not uploaded</p>
					<input type="file" name="reason1_pic">
    				<p class="help-block">Recommended Size: 210 x 146 px</p>
				</div>
			</div>
			</fieldset>				  
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end reason1 -->

<!-- reason2 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-2">
					Reason 2
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-plus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
		<div id="panel-collapse-2" class="collapse">
			<div class="panel-body">
			<fieldset>
				<legend>Reason 2</legend>
				<div class="form-group">
					<label class="col-md-2 control-label">Headline</label>
					<div class="col-md-9">
						<input type="text" class="form-control" name="reason2" value="{{ why_us.reason2 }}" />
					</div>
				</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Text</label>
				<div class="col-md-9">
					<textarea class="form-control" rows="5" name="reason2_blurb">{{ why_us.reason2_blurb }}</textarea>		
				</div>
			</div>
    		{% if why_us.reason2_pic %}
				<div class="form-group">
					<div class="col-md-7 col-md-offset-2">
						<div class="checkbox">
							<input type="checkbox" name="delete_reason2_pic" /> Delete current pic <small> - {{ why_us.reason2_pic }}</small>
						</div>
					</div>
				</div>
  			{% endif %}
			<div class="form-group">
    			<label class="col-md-2 control-label">Picture</label>
				<div class="col-md-9">    		
               <p class="help-block">Default pic will be used if one is not uploaded</p>
					<input type="file" name="reason2_pic">
    				<p class="help-block">Recommended Size: 210 x 146 px</p>
				</div>
			</div>
			</fieldset>
			</div><!-- /.panel-body -->
		</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end reason2 -->

<!-- reason3 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-3">
					Reason 3
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-plus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
		<div id="panel-collapse-3" class="collapse">
			<div class="panel-body">
			<fieldset>
				<legend>Reason 3</legend>
				<div class="form-group">
					<label class="col-md-2 control-label">Headline</label>
				<div class="col-md-9">
					<input type="text" class="form-control" name="reason3" value="{{ why_us.reason3 }}" />
				</div>
				</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Text</label>
				<div class="col-md-9">
					<textarea class="form-control" rows="5" name="reason3_blurb">{{ why_us.reason3_blurb }}</textarea>		
				</div>
			</div>
    		{% if why_us.reason3_pic %}
				<div class="form-group">
					<div class="col-md-7 col-md-offset-2">
						<div class="checkbox">
							<input type="checkbox" name="delete_reason3_pic" /> Delete current pic <small> - {{ why_us.reason3_pic }}</small>
						</div>
					</div>
				</div>
  			{% endif %}
			<div class="form-group">
    			<label class="col-md-2 control-label">Picture</label>
				<div class="col-md-9">    		
					<input type="file" name="reason3_pic">
    				<p class="help-block">Recommended Size: 210 x 146 px</p>
				</div>
			</div>
		</fieldset>
	</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- end reason3 -->

<!-- reason4 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-4">
					Reason 4
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-plus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
		<div id="panel-collapse-4" class="collapse">
			<div class="panel-body">
			<fieldset>
				<legend>Reason 4</legend>
				<div class="form-group">
				<label class="col-md-2 control-label">Headline</label>
				<div class="col-md-9">
					<input type="text" class="form-control" name="reason4" value="{{ why_us.reason4 }}" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Text</label>
				<div class="col-md-9">
					<textarea class="form-control" rows="5" name="reason4_blurb">{{ why_us.reason4_blurb }}</textarea>		
				</div>
			</div>
    		{% if why_us.reason4_pic %}
				<div class="form-group">
					<div class="col-md-7 col-md-offset-2">
						<div class="checkbox">
							<input type="checkbox" name="delete_reason4_pic" /> Delete current pic <small> - {{ why_us.reason4_pic }}</small>
						</div>
					</div>
				</div>
  			{% endif %}
			<div class="form-group">
    			<label class="col-md-2 control-label">Picture</label>
				<div class="col-md-9">    		
					<input type="file" name="reason4_pic">
    				<p class="help-block">Recommended Size: 210 x 146 px</p>
				</div>
			</div>
		</fieldset>

		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>
<!-- reason4 -->

<!-- reason5 -->
<div class="row">
<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-primary">
	  <div class="panel-heading">
			<h3 class="panel-title">
				<a class="block-collapse" data-toggle="collapse" href="#panel-collapse-5">
					Reason 5
					<span class="right-content">
						<span class="right-icon">
							<i class="glyphicon glyphicon-plus icon-collapse"></i>
						</span>
					</span>
				</a>
			</h3>
		</div>
		<div id="panel-collapse-5" class="collapse">
			<div class="panel-body">
			<fieldset>
			<legend>Reason 5</legend>
			<div class="form-group">
				<label class="col-md-2 control-label">Headline</label>
				<div class="col-md-9">
					<input type="text" class="form-control" name="reason5" value="{{ why_us.reason5 }}" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Text</label>
				<div class="col-md-9">
					<textarea class="form-control" rows="5" name="reason5_blurb">{{ why_us.reason5_blurb }}</textarea>		
				</div>
			</div>
    		{% if why_us.reason5_pic %}
				<div class="form-group">
					<div class="col-md-7 col-md-offset-2">
						<div class="checkbox">
							<input type="checkbox" name="delete_reason5_pic" /> Delete current pic <small> - {{ why_us.reason5_pic }}</small>
						</div>
					</div>
				</div>
  			{% endif %}
			<div class="form-group">
    			<label class="col-md-2 control-label">Picture</label>
				<div class="col-md-9">    		
               <p class="help-block">Default pic will be used if one is not uploaded</p>
					<input type="file" name="reason5_pic">
    				<p class="help-block">Recommended Size: 210 x 146 px</p>
				</div>
			</div>
			</fieldset>
		</div><!-- /.panel-body -->
	</div><!-- /.collapse in -->
	</div><!-- /.panel panel-primary -->
</div><!-- /.col-sm-12 -->
</div>

<div class="form-group">
   <div class="col-md-9 col-md-offset-2">
      <button type="submit" class="btn btn-info btn-lg"><i class="fa fa-share"></i> Save All</button>
   </div>
</div>
</form>
                   
{% endblock %}

{% block extra_js %}
<script src="/static/plugins/magnific-popup/jquery.magnific-popup.min.js"></script> 
<script src="/static/plugins/owl-carousel/owl.carousel.min.js"></script>
{% endblock %}
