{% extends "base.html" %}

{% block top-script %}
<script>
$(document).ready(function() {
	// 
}); //
$(window).load(function() {
	//
}); //
</script>	
 {% endblock %}

{% block content %}

<div class="breadcrumbs1_wrapper">
<div class="breadcrumbs1_inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="breadcrumbs1"><a href="{% url 'index' %}">Home Page</a><span></span>About Us</div>	
</div>	
</div>	
</div>	
</div>	
</div>

<div class="shadow1">
<div class="container">
<div class="row">
<div class="span12">
<img src="/media/images/shadow1.png" alt="" class="img">	
</div>	
</div>	
</div>	
</div>

<div id="content">
<div class="container">
<div class="row">
<div class="span8">
	
<h1>About Bizwiggle Painting</h1>
<div class="row">
<div class="span4">

<div class="thumb2">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid"><img src="/media/images/about01.jpg" alt=""></figure>
		<div class="caption">
			
		</div>
	</div>
</div>

</div>

<div class="span4">
<h4>Integer lacinia, velit sit amet bibendum hendrerit. </h4>
<p>
	Sed sodales, enim quis ultricies gravida, mauris libero hendrerit lorem, vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate. Aliquam lobortis. Nunc dignissim pharetra urna. Mauris scelerisque augue eu felis. Nunc quam massa, mattis quis, hendrerit sed, mattis eu, est. Vivamus pretium metus ut nisl. Nullam aliquet mauris eu neque. 
</p>
</div>
</div>
</div>
<div class="span4">
<h3 id="about_box_header" class="c1">The Bottom Line</h3>

<div class="box1">
<div class="box1_inner">
   
<ul class="ul1" id="about_box_list">
  <li>Family Owned &amp; Operated</li>
  <li>10 Years of Service</li>
  <li>Insured &amp; Bonded</li>
  <li>Nunc suscipit</li>
  <li>Suspendisse enim arcu</li>  
</ul>
<div class="clearfix"></div>

</div> 

</div>


</div>	
</div>


<div class="row">
<div class="span8">

<h1 class="c1">Our People</h1> 

<div class="thumb1">
   <div class="thumbnail clearfix">
      <figure class=""><img src="/media/images/home01.png" alt="Painter Ready to Paint"></figure>
      <div class="caption">
         <h4>Hello Caption</h4>
         <p> 
           Yo Fool    
         </p>
      </div>
   </div>
</div>

   
</div>   


<div class="span4">
{% include 'testimonial_block.html' %}	

</div>
	

</div>	
</div>	
</div>

{% include 'bottom_banner.html' %}

{% endblock %}
