{% extends "base.html" %}

{% block top-script %}
<script>
$(document).ready(function() {
	// 
}); //
$(window).load(function() {
	//
}); //
</script>	
 {% endblock %}

{% block content %}

<div class="breadcrumbs1_wrapper">
<div class="breadcrumbs1_inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="breadcrumbs1"><a href="{% url 'index' %}">Home Page</a><span></span>About Us</div>	
</div>	
</div>	
</div>	
</div>	
</div>

<div class="shadow1">
<div class="container">
<div class="row">
<div class="span12">
<img src="/media/images/shadow1.png" alt="" class="img">	
</div>	
</div>	
</div>	
</div>

<div id="content">
<div class="container">
<div class="row">
<div class="span8">
	
<h1>About Bizwiggle Painting</h1>
<div class="row">
<div class="span4">

<div class="thumb2">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid"><img src="{{ MEDIA_URL }}{{ about.pic }}" alt=""></figure>
		<div class="caption">
			
		</div>
	</div>
</div>

</div>

<div class="span4">
<h4>{{ about.headline }}</h4>
<p>
{{ about.text }}
</p>
</div>
</div>
</div>
<div class="span4">
<h3 id="about_box_header" class="c1">{{ about.info_headline }}</h3>

<div class="box1">
<div class="box1_inner">
   
<ul class="ul1" id="about_box_list">
  {% if about.info1 %}<li>{{ about.info1 }}</li>{% endif %}
  {% if about.info2 %}<li>{{ about.info2 }}</li>{% endif %}
  {% if about.info3 %}<li>{{ about.info3 }}</li>{% endif %}
  {% if about.info4 %}<li>{{ about.info4 }}</li>{% endif %}
  {% if about.info5 %}<li>{{ about.info5 }}</li>{% endif %}  
</ul>
<div class="clearfix"></div>

</div> 

</div>

</div>	
</div>

{% if our_people.title1 or our_people.title2 or our_people.title3 or our_people.title4 or our_people.title5 or our_people.title6 or our_people.title7 or our_people.title8 or our_people.title9 or our_people.title10 %}
<div class="row">
<div class="span8">

<h1 class="c1">Our People</h1> 

{% if our_people.title1 %}
<div class="thumb3">
   <div class="thumbnail clearfix">
      {% if our_people.pic1 %}
      <figure class="img-polaroid">
      	<img src="{{ MEDIA_URL }}{{ our_people.pic1 }}" alt="Pic of {{ our_people.title1 }}">
      </figure>
      {% endif %}
      <div class="caption">
         <h4>{{ our_people.title1 }}</h4>
         <p>
         {{ our_people.text1 }}
         </p>
      </div>
   </div>
</div>
{% endif %}
   
{% if our_people.title2 %}
<div class="thumb3">
   <div class="thumbnail clearfix">
      {% if our_people.pic2 %}
      <figure class="img-polaroid">
      	<img src="{{ MEDIA_URL }}{{ our_people.pic2 }}" alt="Pic of {{ our_people.title2 }}">
      </figure>
      {% endif %}
      <div class="caption">
         <h4>{{ our_people.title2 }}</h4>
         <p>
         {{ our_people.text2 }}
         </p>
      </div>
   </div>
</div>
{% endif %}
   
{% if our_people.title3 %}
<div class="thumb3">
   <div class="thumbnail clearfix">
      {% if our_people.pic3 %}
      <figure class="img-polaroid">
      	<img src="{{ MEDIA_URL }}{{ our_people.pic3 }}" alt="Pic of {{ our_people.title3 }}">
      </figure>
      {% endif %}
      <div class="caption">
         <h4>{{ our_people.title3 }}</h4>
         <p>
         {{ our_people.text3 }}
         </p>
      </div>
   </div>
</div>
{% endif %}
   
{% if our_people.title4 %}
<div class="thumb3">
   <div class="thumbnail clearfix">
      {% if our_people.pic4 %}
      <figure class="img-polaroid">
      	<img src="{{ MEDIA_URL }}{{ our_people.pic4 }}" alt="Pic of {{ our_people.title4 }}">
      </figure>
      {% endif %}
      <div class="caption">
         <h4>{{ our_people.title4 }}</h4>
         <p>
         {{ our_people.text4 }}
         </p>
      </div>
   </div>
</div>
{% endif %}

{% if our_people.title5 %}
<div class="thumb3">
   <div class="thumbnail clearfix">
      {% if our_people.pic5 %}
      <figure class="img-polaroid">
      	<img src="{{ MEDIA_URL }}{{ our_people.pic5 }}" alt="Pic of {{ our_people.title5 }}">
      </figure>
      {% endif %}
      <div class="caption">
         <h4>{{ our_people.title5 }}</h4>
         <p>
         {{ our_people.text5 }}
         </p>
      </div>
   </div>
</div>
{% endif %}

{% if our_people.title6 %}
<div class="thumb3">
   <div class="thumbnail clearfix">
      {% if our_people.pic6 %}
      <figure class="img-polaroid">
      	<img src="{{ MEDIA_URL }}{{ our_people.pic6 }}" alt="Pic of {{ our_people.title6 }}">
      </figure>
      {% endif %}
      <div class="caption">
         <h4>{{ our_people.title6 }}</h4>
         <p>
         {{ our_people.text6 }}
         </p>
      </div>
   </div>
</div>
{% endif %}

{% if our_people.title7 %}
<div class="thumb3">
   <div class="thumbnail clearfix">
      {% if our_people.pic7 %}
      <figure class="img-polaroid">
      	<img src="{{ MEDIA_URL }}{{ our_people.pic7 }}" alt="Pic of {{ our_people.title7 }}">
      </figure>
      {% endif %}
      <div class="caption">
         <h4>{{ our_people.title7 }}</h4>
         <p>
         {{ our_people.text7 }}
         </p>
      </div>
   </div>
</div>
{% endif %}

{% if our_people.title8 %}
<div class="thumb3">
   <div class="thumbnail clearfix">
      {% if our_people.pic8 %}
      <figure class="img-polaroid">
      	<img src="{{ MEDIA_URL }}{{ our_people.pic8 }}" alt="Pic of {{ our_people.title8 }}">
      </figure>
      {% endif %}
      <div class="caption">
         <h4>{{ our_people.title8 }}</h4>
         <p>
         {{ our_people.text8 }}
         </p>
      </div>
   </div>
</div>
{% endif %}

{% if our_people.title9 %}
<div class="thumb3">
   <div class="thumbnail clearfix">
      {% if our_people.pic9 %}
      <figure class="img-polaroid">
      	<img src="{{ MEDIA_URL }}{{ our_people.pic9 }}" alt="Pic of {{ our_people.title9 }}">
      </figure>
      {% endif %}
      <div class="caption">
         <h4>{{ our_people.title9 }}</h4>
         <p>
         {{ our_people.text9 }}
         </p>
      </div>
   </div>
</div>
{% endif %}

{% if our_people.title10 %}
<div class="thumb3">
   <div class="thumbnail clearfix">
      {% if our_people.pic10 %}
      <figure class="img-polaroid">
      	<img src="{{ MEDIA_URL }}{{ our_people.pic10 }}" alt="Pic of {{ our_people.title10 }}">
      </figure>
      {% endif %}
      <div class="caption">
         <h4>{{ our_people.title10 }}</h4>
         <p>
         {{ our_people.text10 }}
         </p>
      </div>
   </div>
</div>
{% endif %}

</div>   
{% endif %}


<div class="span4">
{% include 'testimonial_block.html' %}	

</div>
	

</div>	
</div>	
</div>

{% include 'bottom_banner.html' %}

{% endblock %}
