{% extends "base.html" %}

{% block top-script %}
<script>
$(document).ready(function() {
	// 
}); //
$(window).load(function() {
	//
}); //
</script>	
 {% endblock %}

{% block content %}

<div class="breadcrumbs1_wrapper">
<div class="breadcrumbs1_inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="breadcrumbs1"><a href="{% url 'index' %}">Home Page</a><span></span>About Us</div>	
</div>	
</div>	
</div>	
</div>	
</div>

<div class="shadow1">
<div class="container">
<div class="row">
<div class="span12">
<img src="/media/images/shadow1.png" alt="" class="img">	
</div>	
</div>	
</div>	
</div>

<div id="content">
<div class="container">
<div class="row">
<div class="span8">
	
<h1>About Bizwiggle Painting</h1>
<div class="row">
<div class="span4">

<div class="thumb2">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid"><img src="{{ MEDIA_URL }}{{ about.pic }}" alt=""></figure>
		<div class="caption">
			
		</div>
	</div>
</div>

</div>

<div class="span4">
<h4>{{ about.headline }}</h4>
<p>
{{ about.text }}
</p>
</div>
</div>
</div>
<div class="span4">
<h3 id="about_box_header" class="c1">{{ about.info_headline }}</h3>

<div class="box1">
<div class="box1_inner">
   
<ul class="ul1" id="about_box_list">
  {% if about.info1 %}<li>{{ about.info1 }}</li>{% endif %}
  {% if about.info2 %}<li>{{ about.info2 }}</li>{% endif %}
  {% if about.info3 %}<li>{{ about.info3 }}</li>{% endif %}
  {% if about.info4 %}<li>{{ about.info4 }}</li>{% endif %}
  {% if about.info5 %}<li>{{ about.info5 }}</li>{% endif %}  
</ul>
<div class="clearfix"></div>

</div> 

</div>

</div>	
</div>


<div class="row">
<div class="span8">

<h1 class="c1">Our People</h1> 

{% for person in our_people %}
<div class="thumb3">
   <div class="thumbnail clearfix">
      {% if person.pic %}
      <figure class="img-polaroid">
      	<img src="{{ MEDIA_URL }}{{ person.pic }}" alt="">
      </figure>
      {% endif %}
      <div class="caption">
         <h4>{{ person.name }}{% if person.person_title %} - {{ person.person_title }} {% endif %}</h4>
         <p>
         {{ person.text }}
         </p>
      </div>
   </div>
</div>
{% endfor %}
   
</div>   


<div class="span4">
{% include 'testimonial_block.html' %}	

</div>
	

</div>	
</div>	
</div>

{% include 'bottom_banner.html' %}

{% endblock %}
