<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ page_title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ page_description }}">
<meta name="author" content="Bizwiggle LLC, admin@bizwiggle.com">
<link rel="icon" href="/media/painting/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/css/bootstrap-responsive.css" type="text/css" media="screen">    
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">

{% block extra_css %}{% endblock %}

<script type="text/javascript" src="/static/js/jquery.js"></script>  
<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/js/superfish.js"></script>

<script type="text/javascript" src="/static/js/jquery.ui.totop.js"></script>

<script type="text/javascript" src="/static/js/jquery.mobile.customized.min.js"></script>

{% block top-script %} {% endblock %}
<!--[if lt IE 8]>
		<div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/></a></div>  
	<![endif]-->  

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>      
  <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>
<body>

{% autoescape on %}

<div class="top1_wrapper">
<div class="container">
<div class="row">
<div class="span12">
<div class="top1 clearfix">
<header>
{% if general_info.logo %}
<div class="logo_wrapper">
<a href="{% url 'index' %}" class="logo"><img src="{{ MEDIA_URL }}{{ general_info.logo }}" alt="{{ general_info.business_name }} company logo"></a>
{% endif %}
</div>
</header>	
<div class="phone1_wrapper">
<div class="phone1">
	<div class="txt1">Schedule an Estimate</div>
	<div class="txt2">{{ general_info.phone }}</div>
</div>	
</div>
</div>	
</div>	
</div>	
</div>	
</div>

<div class="menu_wrapper">
<div class="container">
<div class="row">
<div class="span12">
<div class="navbar navbar_">
	<div class="navbar-inner navbar-inner_">
		<a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<div class="nav-collapse nav-collapse_ collapse">
			<ul class="nav sf-menu clearfix">
           <li {% if active == 'index' %}class="active"{% endif %}><a href="{% url 'index'%} ">Home</a></li>
           <li {% if active == 'why-us' %}class="active"{% endif %}><a href="{% url 'why-us' %}">Why Us?</a></li>
           <li class="sub-menu sub-menu-1 {% if active == 'services' or active == 'residential' or active == 'comercial' or active == 'other' %}active{% endif %}">
           	 <a href="{% url 'services' %}">Services</a>
				 {% if general_info.has_residential_page or general_info.has_comercial_page or general_info.has_other_services_page %}
	          <ul>
		         {% if general_info.has_residential_page %}<li><a href="{% url 'residential' %}">Residential Painting</a></li>{% endif %}
		         {% if general_info.has_comercial_page %}<li><a href="{% url 'comercial' %}">Commercial Painting</a></li>{% endif %}
		         {% if general_info.has_other_services_page %}<li><a href="{% url 'other' %}">Other Services</a></li>{% endif %}
             </ul>
				{% endif %}
           </li>
           <li  {% if active == 'portfolio' %}class="active"{% endif %}>
               <a href="{% url 'portfolio' %}">Portfolio</a></li>
           <li {% if active == 'about' %}class="active"{% endif %}><a href="{% url 'about' %}">About Us</a></li>
           <li {% if active == 'contact' %}class="active"{% endif %}><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
		</div>
	</div>
</div>	
</div>	
</div>	
</div>	
</div>

<!-- Button to trigger modal -->
<a href="#myModal" role="button" id="modal-btn" data-toggle="modal">Click for Estimate</a>
{% include 'modal.html' %}

{% block content %} {% endblock %}

<div class="bot1_wrapper">
<div class="container">
<div class="row">
<div class="span12">
<div class="bot1">
<div class="row">
<div class="span3">
	
<div class="logo2_wrapper">
{% if general_info.logo_small %}
<a href="{% url 'index' %}" class="logo2"><img src="{{ MEDIA_URL }}{{ general_info.logo_small }}" alt="{{ general_info.business_name }} company logo - small"></a>
{% endif %}
</div>

<div class="social_wrapper">
	<ul class="social clearfix">
		{% if general_info.facebook_URL %}
			<li><a href="http://{{ general_info.facebook_URL }}"><img src="/media/images/social_ic1.png"></a></li>
	   {% endif %}
      {% if general_info.linkedin_URL %}
			 <li><a href="http://{{ general_info.linkedin_URL }}"><img src="/media/images/social_ic2.png"></a></li>
	   {% endif %}
      {% if general_info.google_plus_URL %}
	    	<li><a href="http://{{ general_info.google_plus_URL }}"><img src="/media/images/social_ic3.png"></a></li>	    
	   {% endif %}
      {% if general_info.twitter_URL %}
	   	<li><a href="http://{{ general_info.twitter_URL }}"><img src="/media/images/social_ic4.png"></a></li>
	   {% endif %}
      {% if general_info.tumblr_URL %}
	    	<li><a href="http://{{ general_info.tumblr_URL }}"><img src="/media/images/social_ic5.png"></a></li>
	   {% endif %}
      {% if general_info.pintrest_URL %}
	    	<li><a href="http://{{ general_info.pintrest_URL }}"><img src="/media/images/social_ic6.png"></a></li>
		{% endif %}
	</ul>
</div>

<footer><div class="copyright">Copyright © 2014. All rights reserved.<br><a href="http://www.bizwiggle.com">Painting Website</a> by Bizwiggle&nbsp;&nbsp;&nbsp;<span></div></footer>



</div>	
<div class="span3 block1">
	
<div class="bot1_title">Contacts Details</div>

{{ general_info.street_address }}{% if general_info.extra_address %} {{ general_info.extra_address }}{% endif %}
<br>
{{ general_info.city }}, {{ general_info.state }} {{ general_info.zip_code }}<br>
Telephone: {{ general_info.phone }}<br>
{% if general_info.fax %}
	Fax: {{ general_info.fax }}<br>
{% endif %}
E-mail: <a href="{{ general_info.email }}">{{ general_info.email }}</a>


</div>
<div class="span3 block2">
	
<div class="bot1_title">why choose us</div>

{{ general_info.why_us_brief }}

</div>
<div class="span3 block3">
	
<div class="bot1_title"></div>


</div>
</div>	
</div>	
</div>	
</div>	
</div>	
</div>

</div>
{% block bottom-script %} {% endblock %}
<script type="text/javascript" src="/static/js/bootstrap.js"></script>

{% endautoescape %}

</body>
</html>
