{% extends "base.html" %}


{% block top-script %}
<script>
$(document).ready(function() {
	// 
}); //
$(window).load(function() {
	//

}); //
</script>
{% endblock %}

{% block content %}
<div class="breadcrumbs1_wrapper">
<div class="breadcrumbs1_inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="breadcrumbs1"><a href="{% url 'index' %}">Home Page</a><span></span>
<a href="{% url 'services' %}">Services</a><span></span>Comercial Painting</div>	
</div>	
</div>	
</div>	
</div>	
</div>

<div class="shadow1">
<div class="container">
<div class="row">
<div class="span12">
<img src="/media/images/shadow1.png" alt="" class="img">	
</div>	
</div>	
</div>	
</div>

<div id="content">
<div class="container">
<div class="row">
<div class="span8">

<h1>Comercial Painting</h1>	
	
<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid"><img src="/media/images/services/services01.jpg" alt=""></figure>
		<div class="caption">
			<h4>Residential Painting</h4>
			<p>
				Vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate. Aliquam 
			</p>
			<a href="{% url 'residential' %}" class="button1">Read more</a>
		</div>
	</div>
</div>

<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid"><img src="/media/images/services/services02.jpg" alt=""></figure>
		<div class="caption">
			<h4>Comercial Painting</h4>
			<p>
				Vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate. Aliquam 
			</p>
			<a href="{% url 'comercial' %}" class="button1">Read more</a>
		</div>
	</div>
</div>

<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid"><img src="/media/images/services/services03.jpg" alt=""></figure>
		<div class="caption">
			<h4>Other Services</h4>
			<p>
				Vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate. Aliquam 
			</p>
			<a href="{% url 'other' %}" class="button1">Read more</a>
		</div>
	</div>
</div>

</div>

<div class="span4">
{% include 'service_area_block.html' %}
{% include 'services_block.html' %}
<br><br>
</div>
</div>	
</div>

{% include 'bottom_banner.html' %}

{% endblock %}
