{% extends "base.html" %}


{% block top-script %}
<script>
$(document).ready(function() {
	// 
}); //
$(window).load(function() {
	//

}); //
</script>
{% endblock %}

{% block content %}
<div class="breadcrumbs1_wrapper">
<div class="breadcrumbs1_inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="breadcrumbs1"><a href="{% url 'index' %}">Home Page</a><span></span>	
 <a href="{% url 'services' %}">Services</a><span></span>Comercial Painting</div>
</div>	
</div>	
</div>	
</div>	
</div>

<div class="shadow1">
<div class="container">
<div class="row">
<div class="span12">
<img src="/media/images/shadow1.png" alt="" class="img">	
</div>	
</div>	
</div>	
</div>

<div id="content">
<div class="container">
<div class="row">
<div class="span8">

<h1>Commercial Painting</h1>	

{% if comercial_service.paragraph_headline1 or comercial_service.paragraph1 %}
<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid">
			{% if comercial_service.pic1 %}
				<img src="{{ MEDIA_URL }}{{ comercial_service.pic1 }}" alt="">
			{% else %}
				<img src="/media/images/services/comercial01.jpg" alt="">
			{% endif %}
		</figure>
		<div class="caption">
			<h4>{{ comercial_service.paragraph_headline1 }}</h4>
			<p>
			{{ comercial_service.paragraph1 }}
			</p>
		</div>
	</div>
</div>
{% endif %}

{% if comercial_service.paragraph_headline2 or comercial_service.paragraph2 %}
<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid">
			{% if comercial_service.pic2 %}
				<img src="{{ MEDIA_URL }}{{ comercial_service.pic2 }}" alt="">
			{% else %}
				<img src="/media/images/services/comercial02.jpg" alt="">
			{% endif %}
		</figure>
		<div class="caption">
			<h4>{{ comercial_service.paragraph_headline2 }}</h4>
			<p>
			{{ comercial_service.paragraph2 }}
			</p>
		</div>
	</div>
</div>
{% endif %}

{% if comercial_service.paragraph_headline3 or comercial_service.paragraph3 %}
<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid">
			{% if comercial_service.pic3 %}
				<img src="{{ MEDIA_URL }}{{ comercial_service.pic3 }}" alt="">
			{% else %}
				<img src="/media/images/services/comercial03.jpg" alt="">
			{% endif %}
		</figure>
		<div class="caption">
			<h4>{{ comercial_service.paragraph_headline3 }}</h4>
			<p>
			{{ comercial_service.paragraph3 }}
			</p>
		</div>
	</div>
</div>
{% endif %}

</div> 

<div class="span4">
{% include 'service_area_block.html' %}
{% include 'services_block.html' %}
<br><br>
</div>

</div>	
</div>

{% include 'bottom_banner.html' %}

{% endblock %}
