{% extends "base.html" %}

{% block top-script %}
<script>
$(document).ready(function() {
	// 
}); //
$(window).load(function() {
	//
}); //
</script>
{% endblock %}

{% block content %}

<div class="breadcrumbs1_wrapper">
<div class="breadcrumbs1_inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="breadcrumbs1"><a href="{% url 'index' %}">Home Page</a><span></span>Contacts</div>	
</div>	
</div>	
</div>	
</div>	
</div>

<div class="shadow1">
<div class="container">
<div class="row">
<div class="span12">
<img src="/media/images/shadow1.png" alt="" class="img">	
</div>	
</div>	
</div>	
</div>

<div id="content">
<div class="container">
<div class="row">
<div class="span6">

<h1>Our Location</h1>	

<figure class="google_map">
    <iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Glasgow,&amp;aq=&amp;sll=46.975033,31.994583&amp;sspn=0.368248,0.617294&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=Glasgow,+Glasgow+City,+United+Kingdom&amp;t=m&amp;ll=55.866932,-4.256344&amp;spn=0.020324,0.070896&amp;z=13&amp;output=embed"></iframe>
</figure>

<h4>Paint Studio</h4>

<p>
	Kansas City, MO 64106<br>
Telephone: +1 800 123 1895<br>
E-mail: <a href="#">mail@bteamny.com</a>
</p>

</div>
<div class="span6">
	


<h2>Contact Form</h2>

<div id="note"></div>
<div id="fields">
	<form id="ajax-contact-form" class="form-horizontal" action="javascript:alert('success!');">
		
		<div class="control-group">
		    <label class="control-label" for="inputName">Your full name:</label>
		    <div class="controls">				      
		      <input class="" type="text" id="inputName" name="name" value="Your full name:" onBlur="if(this.value=='') this.value='Your full name:'" onFocus="if(this.value =='Your full name:' ) this.value=''">
		    </div>
		</div>

		<div class="control-group">
		    <label class="control-label" for="inputEmail">Your email:</label>
		    <div class="controls">				      
		      <input class="" type="text" id="inputEmail" name="email" value="Your email:" onBlur="if(this.value=='') this.value='Your email:'" onFocus="if(this.value =='Your email:' ) this.value=''">
		    </div>
		</div>

		<div class="control-group">
		    <label class="control-label" for="inputPhone">Phone number:</label>
		    <div class="controls">				      
		      <input class="" type="text" id="inputPhone" name="phone" value="Phone number:" onBlur="if(this.value=='') this.value='Phone number:'" onFocus="if(this.value =='Phone number:' ) this.value=''">
		    </div>
		</div>

		<div class="control-group">
		    <label class="control-label" for="inputMessage">Message:</label>
		    <div class="controls">				      				      
		      <textarea class="" id="inputMessage" name="content" onBlur="if(this.value=='') this.value='Message:'" 
                onFocus="if(this.value =='Message:' ) this.value=''">Message:</textarea>
		    </div>
		</div>

		<button type="submit" class="submit">submit</button>
	</form>
</div>	



</div>
</div>	
</div>	
</div>

{% endblock %}
