{% extends "base.html" %}

{% block top-script %}
<script>
$(document).ready(function() {
	// 
}); //
$(window).load(function() {
	//
}); //
</script>
{% endblock %}

{% block content %}

<div class="breadcrumbs1_wrapper">
<div class="breadcrumbs1_inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="breadcrumbs1"><a href="{% url 'index' %}">Home Page</a><span></span>Contacts</div>	
</div>	
</div>	
</div>	
</div>	
</div>

<div class="shadow1">
<div class="container">
<div class="row">
<div class="span12">
<img src="/media/images/shadow1.png" alt="" class="img">	
</div>	
</div>	
</div>	
</div>

<div id="content">
<div class="container">
<div class="row">
<div class="span6">

<h1>Contact Us</h1>	

<div id="contact_box" class="box3">
<div class="box3_inner">
   
<table>
<tbody>
<tr>
	<th><strong>Address:</strong></th>
	<td>{{ general_info.street_address }}<br>
		  {% if general_info.extra_address %}{{ general_info.extra_address }}<br>{% endif %}
		 {{ general_info.city }}, {{ general_info.state }} {{ general_info.zip_code }}</td>
</tr>
<tr>
	<th><strong>Phone:</strong></th>
	<td>{{ general_info.phone }}</td>
</tr>
{% if general_info.fax %}
<tr>
	<th><strong>Fax:</strong></th>
	<td>{{ general_info.fax }}</td>
</tr>
{% endif %}
<tr>
	<th><strong>Email:</strong></th>
	<td><a href="mailto:{{ general_info.email }}">{{ general_info.email }}</a></td>
</tr>
</tbody>
</table>
</div>
</div> 

<figure class="google_map">
<iframe
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBgIq9fGzbDd9X1R7TseTnu-f_-ICCLf-0&zoom=13&q=1616+W. 6th Street,Austin+TX">
</iframe>

</figure>

</div>

<div class="span6">
<h2>Send Us a Message</h2>

<div id="note"></div>
<div id="fields">
	<form id="ajax-contact-form" class="form-horizontal" action="">
		
		<div class="control-group">
		    <label class="control-label" for="inputName">Name:</label>
		    <div class="controls">				      
		      <input class="" type="text" id="inputName" name="name" value="" placeholder="Name:">
		    </div>
		</div>

		<div class="control-group">
		    <label class="control-label" for="inputEmail">Your email:</label>
		    <div class="controls">				      
		      <input class="" type="text" id="inputEmail" name="email" value="" placeholder="Email:">
		    </div>
		</div>

		<div class="control-group">
		    <label class="control-label" for="inputPhone">Phone number:</label>
		    <div class="controls">				      
		      <input class="" type="text" id="inputPhone" name="phone" value="" placeholder="Phone:">
		    </div>
		</div>

		<div class="control-group">
		    <label class="control-label" for="inputMessage">Message:</label>
		    <div class="controls">				      				      
		      <textarea class="" id="inputMessage" name="message" value="" placeholder="Message:"></textarea>
		    </div>
		</div>

		<button type="submit" class="submit">submit</button>
	</form>
</div>	



</div>
</div>	
</div>	
</div>

{% include 'bottom_banner.html' %}

{% endblock %}
