{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/camera.css" type="text/css" media="screen">
{% endblock %}

{% block top-script %}
<script type="text/javascript" src="/static/js/camera.js"></script>
<script>
$(document).ready(function() {
// camera
	$('#camera_wrap').camera({
		autoAdvance			: true,		
		mobileAutoAdvance	: true,
		height: '40%',
		hover: false,
		loader: 'none',
		navigation: false,
		navigationHover: true,
		mobileNavHover: true,
		playPause: false,
		pauseOnClick: false,
		pagination			: true,
		time: 17000,
		transPeriod: 1000,
		minHeight: '200px'
	});
}); //
$(window).load(function() {
	//

}); //
</script>	
{% endblock %}

{% block content %} 
  
{% include "slider.html" %}
<div class="shadow1">
<div class="container">
<div class="row">
<div class="span12">
<img src="/media/images/shadow1.png" alt="" class="img">	
</div>	
</div>	
</div>	
</div>

<div class="banners">
<div class="container">
<div class="row">
<div class="span4 banner banner1">
<div class="banner_inner">
	
<img src="/media/images/banner1.png" alt="" class="img">

<div class="txt1">Why Choose Us?</div>

<div class="txt2">Why Choose Us Goes here, maybe a list...</div>

<div class="txt3"><a href="{% url 'why-us' %}">more</a></div>

</div>	
</div>
<div class="span4 banner banner2">
<div class="banner_inner">
	
<img src="/media/images/banner2.png" alt="" class="img">

<div class="txt1">About Us</div>

<div class="txt2">About us will go here</div>

<div class="txt3"><a href="{% url 'about' %}">more</a></div>

</div>	
</div>
<div class="span4 banner banner3">
<div class="banner_inner">
	
<div class="spacer-80px"></div>
<div class="txt1">Hassle Free Estimate </div>

<div id="note"></div>
<div id="fields">
   <form id="banner-form" class="form-horizontal" action="">
    
      <div class="control-group">
          <label class="control-label" for="inputName">Name: </label>
          <div class="controls">    
            <input class="" type="text" id="inputName" name="name" placeholder="Name: " >
          </div>
      </div>

      <div class="control-group">
          <label class="control-label" for="inputEmail">Email: </label>
          <div class="controls">    
            <input class="" type="text" id="inputEmail" name="email" placeholder="Email: ">
          </div>
      </div>

      <div class="control-group">
          <label class="control-label" for="inputPhone">Phone: </label>
          <div class="controls">    
            <input class="" type="text" id="inputPhone" name="phone" placeholder="Phone: ">
          </div>
      </div>

      <button type="submit" class="submit">submit</button>
   </form>
</div>  



</div>	

</div>	
</div>	
</div>	
</div>

<div class="credits hidden-phone">
<div class="container">
<div class="row">

<div class="span2">
</div>
<div class="span2">
	<img src="/media/images/credits/credit3.jpg">
</div>
<div class="span2">
	<img src="/media/images/credits/credit2.png">
</div>
<div class="span2">
	<img src="/media/images/credits/credit1.png">
</div>
<div class="span2">
	<img src="/media/images/credits/credit5.png">
</div>
<div class="span2">
</div>

</div>
</div>
</div>



<div id="content">
<div class="container">
<div class="row">
<div class="span8">

<h1 class="c1">Hello from Bizwiggle Painting</h1>	

<div class="thumb1">
	<div class="thumbnail clearfix">
		<figure class=""><img src="/media/images/home01.png" alt="Painter Ready to Paint"></figure>
		<div class="caption">
			<h4>Hello Caption</h4>
			<p>
           Yo Fool		   
         </p>
			<a href="about.html" class="button1">Read more about Bizwiggle Painting</a>
		</div>
	</div>
</div>

</div>	
<div class="span4">
	
{% include 'testimonial_block.html' %}
	

</div>
</div>	
</div>	
</div>
   
{% include 'bottom_banner.html' %}


{% endblock %}
