{% extends "base.html" %}


{% block top-script %}
<script>
$(document).ready(function() {
	// 
}); //
$(window).load(function() {
	//

}); //
</script>
{% endblock %}

{% block content %}
<div class="breadcrumbs1_wrapper">
<div class="breadcrumbs1_inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="breadcrumbs1"><a href="{% url 'index' %}">Home Page</a><span></span>	
 <a href="{% url 'services' %}">Services</a><span></span>Other Services</div>
</div>	
</div>	
</div>	
</div>	
</div>

<div class="shadow1">
<div class="container">
<div class="row">
<div class="span12">
<img src="/media/images/shadow1.png" alt="" class="img">	
</div>	
</div>	
</div>	
</div>

<div id="content">
<div class="container">
<div class="row">
<div class="span8">

<h1>Other Services</h1>	

{% if other_services.service1 or other_services.service_headline1 %}
<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid">
			{% if other_services.pic1 %}
				<img src="{{ MEDIA_URL }}{{ other_services.pic1 }}" alt="">
			{% else %}
				<img src="/media/images/services/other_service01.jpg" alt="">
			{% endif %}
		</figure>
		<div class="caption">
			<h4>{{ other_services.service_headline1 }}</h4>
			<p>
			{{ other_services.service1 }}
			</p>
		</div>
	</div>
</div>
{% endif %}

{% if other_services.service2 or other_services.service_headline2 %}
<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid">
			{% if other_services.pic2 %}
				<img src="{{ MEDIA_URL }}{{ other_services.pic2 }}" alt="">
			{% else %}
				<img src="/media/images/services/other_service02.jpg" alt="">
			{% endif %}
		</figure>
		<div class="caption">
			<h4>{{ other_services.service_headline2 }}</h4>
			<p>
			{{ other_services.service2 }}
			</p>
		</div>
	</div>
</div>
{% endif %}

{% if other_services.service3 or other_services.service_headline3 %}
<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid">
			{% if other_services.pic3 %}
				<img src="{{ MEDIA_URL }}{{ other_services.pic3 }}" alt="">
			{% else %}
				<img src="/media/images/services/other_service03.jpg" alt="">
			{% endif %}
		</figure>
		<div class="caption">
			<h4>{{ other_services.service_headline3 }}</h4>
			<p>
			{{ other_services.service3 }}
			</p>
		</div>
	</div>
</div>
{% endif %}

{% if other_services.service4 or other_services.service_headline4 %}
<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid">
			{% if other_services.pic4 %}
				<img src="{{ MEDIA_URL }}{{ other_services.pic4 }}" alt="">
			{% else %}
				<img src="/media/images/services/other_service04.jpg" alt="">
			{% endif %}
		</figure>
		<div class="caption">
			<h4>{{ other_services.service_headline4 }}</h4>
			<p>
			{{ other_services.service4 }}
			</p>
		</div>
	</div>
</div>
{% endif %}

{% if other_services.service5 or other_services.service_headline5 %}
<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid">
			{% if other_services.pic5 %}
				<img src="{{ MEDIA_URL }}{{ other_services.pic5 }}" alt="">
			{% else %}
				<img src="/media/images/services/other_service05.jpg" alt="">
			{% endif %}
		</figure>
		<div class="caption">
			<h4>{{ other_services.service_headline5 }}</h4>
			<p>
			{{ other_services.service5 }}
			</p>
		</div>
	</div>
</div>
{% endif %}

</div> 

<div class="span4">
{% include 'service_area_block.html' %}
{% include 'services_block.html' %}
<br><br>
</div>

</div>	
</div>

{% include 'bottom_banner.html' %}

{% endblock %}
