{% load pages_extras %}

<h3 class="c3">Services List</h3>

<div class="box3">
<div class="box3_inner">
   
<ul class="ul1">
  {% if services.service_list1 %}
  <li><a href="{{ services.service_list1_link|service_pages_link }}">{{ services.service_list1 }}</a></li>
  {% endif %}
  {% if services.service_list2 %}
  <li><a href="{{ services.service_list2_link|service_pages_link }}">{{ services.service_list2 }}</a></li>
  {% endif %}
  {% if services.service_list3 %}
  <li><a href="{{ services.service_list3_link|service_pages_link }}">{{ services.service_list3 }}</a></li>
  {% endif %}
  {% if services.service_list4 %}
  <li><a href="{{ services.service_list4_link|service_pages_link }}">{{ services.service_list4 }}</a></li>
  {% endif %}
  {% if services.service_list5 %}
  <li><a href="{{ services.service_list5_link|service_pages_link }}">{{ services.service_list5 }}</a></li>
  {% endif %}
  {% if services.service_list6 %}
  <li><a href="{{ services.service_list6_link|service_pages_link }}">{{ services.service_list6 }}</a></li>
  {% endif %}
  {% if services.service_list7 %}
  <li><a href="{{ services.service_list7_link|service_pages_link }}">{{ services.service_list7 }}</a></li>
  {% endif %}
  {% if services.service_list8 %}
  <li><a href="{{ services.service_list8_link|service_pages_link }}">{{ services.service_list8 }}</a></li>
  {% endif %}
  {% if services.service_list9 %}
  <li><a href="{{ services.service_list9_link|service_pages_link }}">{{ services.service_list9 }}</a></li>
  {% endif %}
  {% if services.service_list10 %}
  <li><a href="{{ services.service_list10_link|service_pages_link }}">{{ services.service_list10 }}</a></li>
  {% endif %}
</ul>

</div>

</div>  
