{% extends "base.html" %}


{% block top-script %}
<script>
$(document).ready(function() {
	// 
}); //
$(window).load(function() {
	//

}); //
</script>
{% endblock %}

{% block content %}
<div class="breadcrumbs1_wrapper">
<div class="breadcrumbs1_inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="breadcrumbs1"><a href="{% url 'index' %}">Home Page</a><span></span>Services</div>	
</div>	
</div>	
</div>	
</div>	
</div>

<div class="shadow1">
<div class="container">
<div class="row">
<div class="span12">
<img src="/media/images/shadow1.png" alt="" class="img">	
</div>	
</div>	
</div>	
</div>

<div id="content">
<div class="container">
<div class="row">
<div class="span8">

<h1>Services Overview</h1>	
	
<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid"><img src="/media/images/services/services01.jpg" alt=""></figure>
		<div class="caption">
			<h4>Integer lacinia, velit sit amet bibendum hendrerit neque justo ornare urna, non sodal</h4>
			<p>
				Vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate. Aliquam 
			</p>
			<a href="#" class="button1">Read more</a>
		</div>
	</div>
</div>

<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid"><img src="/media/images/services/services02.jpg" alt=""></figure>
		<div class="caption">
			<h4>Amet bibendum hendrerit neque justo ornare urna, non sodales nunc nibh vel purus. In </h4>
			<p>
				Vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate. Aliquam 
			</p>
			<a href="#" class="button1">Read more</a>
		</div>
	</div>
</div>

<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid"><img src="/media/images/services/services03.jpg" alt=""></figure>
		<div class="caption">
			<h4>Relit sit amet bibendum hendrerit neque justo ornare urna, non sodales nunc nibh vel </h4>
			<p>
				Vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate. Aliquam 
			</p>
			<a href="#" class="button1">Read more</a>
		</div>
	</div>
</div>

<h2>Special Offers</h2>

<p>
	Enim quis ultricies gravida, mauris libero hendrerit lorem, vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate. 
</p>

<br>

<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid"><img src="/media/images/services/services04.jpg" alt=""></figure>
		<div class="caption">
			<h4>Integer lacinia, velit sit ibendum que justo ornare urna, non sodales nunc</h4>
			<p>
				Sodales, enim quis ultricies gravida, mauris libero hendrerit lorem, vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate. Aliquam lobortis. Nunc dignissim pharetra urna. Mauris Sed sodales, enim quis ultricies gravida, mauris libero hendrerit lorem, vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. Nulla in pede id dui consectetuer vulputate. Aliquam lobortis. Nunc dignissim pharetra urna. Mauris scelerisque augue eu felis. Nunc quam massa, mattis quis, hendrerit sed, mattis eu, est. Vivamus pretium metus ut nisl. Nullam aliquet mauris eu neque.  
			</p>
			<a href="#" class="button1">Read more</a>
		</div>
	</div>
</div>





</div>
<div class="span4">
	
<h3 class="c3">Services List</h3>

<div class="box3">
<div class="box3_inner">
	
<ul class="ul1">
  <li><a href="#">Lorem ipsum dolor hendrerit sed</a></li>
  <li><a href="#">Sit amet consectetue sed sodales, enim quis ultricies</a></li>
  <li><a href="#">Adipiscing elit</a></li>
  <li><a href="#">Nunc suscipit</a></li>
  <li><a href="#">Suspendisse enim arcu</a></li>  
  <li><a href="#">Convallis non cursus sed</a></li>
  <li><a href="#">Dignissim et est</a></li>
  <li><a href="#">Aenean semper aliquet libero</a></li>  	            		      	      			      
</ul>

</div>	
</div>

<h2>Usful Info</h2>

<h4>Non sodales nunc nibh vel purus. In urna. Sed blandit ligula dolor, ut </h4>

<p>
	Sed sodales, enim quis ultricies gravida, mauris libero hendrerit lorem, vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam.
</p>

<ul class="ul2">
  <li><a href="#">Lorem ipsum dolor hendrerit sed</a></li>
  <li><a href="#">Sit amet consectetue sed sodales, enim quis ultricies</a></li>
  <li><a href="#">Suspendisse enim arcu</a></li>  
  <li><a href="#">Convallis non cursus sed</a></li> 	            		      	      			      
</ul>

<br>

<p>
	Mauris libero hendrerit lorem, vel vulputate urna lacus quis mauris. Duis aliquam. Vivamus ac ligula. Cras et metus a ipsum suscipit aliquam. Morbi at justo. 
</p>
</div>
</div>	
</div>	
</div>

{% include 'bottom_banner.html' %}

{% endblock %}
