<div id="slider_wrapper">
<div id="slider_inner">
<div class="container">
<div class="row">
<div class="span12">
<div id="slider" class="clearfix">
<div id="camera_wrap">
	<div data-src="/media/images/slide01.jpg">
		<div class="camera_caption fadeIn clearfix">
			<div class="txt1"><a href="#" class="button0"></a></div>
			<div class="caption">
				<div class="txt2">Professional</div>
				<div class="txt3">House Painting Service</div>
			</div>								
		</div>     
	</div>
	<div data-src="/media/images/slide02.jpg">
		<div class="camera_caption fadeIn clearfix">
			<div class="txt1"><a href="#" class="button0"></a></div>
			<div class="caption">
				<div class="txt2">Professional</div>
				<div class="txt3">House Painting Service</div>
			</div>								
		</div>     
	</div>
	<div data-src="/media/images/slide03.jpg">
		<div class="camera_caption fadeIn clearfix">
			<div class="txt1"><a href="#" class="button0"></a></div>
			<div class="caption">
				<div class="txt2">Professional</div>
				<div class="txt3">House Painting Service</div>
			</div>								
		</div>     
	</div>
	<div data-src="/media/images/slide04.jpg">
		<div class="camera_caption fadeIn clearfix">
			<div class="txt1"><a href="#" class="button0"></a></div>
			<div class="caption">
				<div class="txt2">Professional</div>
				<div class="txt3">House Painting Service</div>
			</div>								
		</div>     
	</div>
	<div data-src="/media/images/slide05.jpg">
		<div class="camera_caption fadeIn clearfix">
			<div class="txt1"><a href="#" class="button0"></a></div>
			<div class="caption">
				<div class="txt2">Professional</div>
				<div class="txt3">House Painting Service</div>
			</div>								
		</div>     
	</div>
</div>	
</div>	
</div>	
</div>	
</div>	
</div>	
</div>
