{% extends "base.html" %}


{% block top-script %}
<script>
$(document).ready(function() {
	// 
}); //
$(window).load(function() {
	//

}); //
</script>
{% endblock %}

{% block content %}
<div class="breadcrumbs1_wrapper">
<div class="breadcrumbs1_inner">
<div class="container">
<div class="row">
<div class="span12">
<div class="breadcrumbs1"><a href="{% url 'index' %}">Home Page</a><span></span>Why Choose Us</div>	
</div>	
</div>	
</div>	
</div>	
</div>

<div class="shadow1">
<div class="container">
<div class="row">
<div class="span12">
<img src="/media/images/shadow1.png" alt="" class="img">	
</div>	
</div>	
</div>	
</div>

<div id="content">
<div class="container">
<div class="row">
<div class="span8">

<h1>Why Choose Us?</h1>	
{% if why_us.reason1 %}	
<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid">
			{% if why_us.reason1_pic %}
         	<img src="{{ why_us.reason1_pic }}" alt="">
			{% else %}
				<img src="/media/images/why_us/why_us01.jpg" alt="">
			{% endif %}
		</figure>
		<div class="caption">
			<h4>{{ why_us.reason1 }}</h4>
			<p>
				{{ why_us.reason1_blurb }}
			</p>
		</div>
	</div>
</div>
{% endif %}

{% if why_us.reason2 %}	
<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid">
			{% if why_us.reason2_pic %}
				<img src="{{ why_us.reason2_pic }}" alt="">
			{% else %}
				<img src="/media/images/why_us/why_us02.jpg" alt="">
			{% endif %}
		</figure>
		<div class="caption">
			<h4>{{ why_us.reason2 }}</h4>
			<p>
				{{ why_us.reason2_blurb }}
			</p>
		</div>
	</div>
</div>
{% endif %}

{% if why_us.reason3 %}	
<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid">
			{% if why_us.reason3_pic %}
				<img src="{{ why_us.reason3_pic }}" alt="">
			{% else %}
				<img src="/media/images/why_us/why_us03.jpg" alt="">
			{% endif %}
		</figure>
		<div class="caption">
			<h4>{{ why_us.reason3 }}</h4>
			<p>
				{{ why_us.reason3_blurb }}
			</p>
		</div>
	</div>
</div>
{% endif %}

{% if why_us.reason4 %}	
<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid">
			{% if why_us.reason4_pic %}
				<img src="{{ why_us.reason4_pic }}" alt="">
			{% else %}
				<img src="/media/images/why_us/why_us04.jpg" alt="">
			{% endif %}
		</figure>
		<div class="caption">
			<h4>{{ why_us.reason4 }}</h4>
			<p>
				{{ why_us.reason4_blurb }}
			</p>
		</div>
	</div>
</div>
{% endif %}

{% if why_us.reason5 %}	
<div class="thumb3">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid">
			{% if why_us.reason5_pic %}
				<img src="{{ why_us.reason5_pic }}" alt="">
			{% else %}
				<img src="/media/images/why_us/why_us05.jpg" alt="">
			{% endif %}
		</figure>
		<div class="caption">
			<h4>{{ why_us.reason5 }}</h4>
			<p>
				{{ why_us.reason5_blurb }}
			</p>
		</div>
	</div>
</div>
{% endif %}

</div>

<div class="span4">
{% include 'service_area_block.html' %}
{% include 'services_block.html' %}
<br><br>
</div>

</div>	
</div>

{% include 'bottom_banner.html' %}

{% endblock %}
